<app-header></app-header>
<div class="row">
  <div class="col-lg-12" style="color: black">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-justify">
        <h3 class="text-center font-color-blue">
  <b> 
  Frequently asked questions

  </b>
          </h3>

  <p>&nbsp;</p>

<h2>
  Select a category below for more information
</h2>
<ul>
  <li>
      Application process
  </li>
  <li>
      Fees and payments
  </li>
  <li>
      I’m struggling with repayments
  </li>
  <li>
      Contacting us
  </li>
  <li>
      Security
  </li>
</ul>
<p>
  <strong><u>Application process: </u></strong>
</p>
<p>
  So how does the application process work?
</p>
<p>
  It’s super simple. Just hit quick start, select how much you’re after and
fill in your info. The application should only take
  you about three minutes!
</p>
<p>
  The process is paperless and you’ll receive a quick decision. You sign
  electronically schedule a visit for KYC and then you’ll receive the cash in
  your account. It’s that simple.
</p>
<p>
  <strong>Who can apply? </strong>
</p>
<p>
  You must be:
</p>
<ul>
  <li>
      UAE resident
  </li>
  <li>
      Valid Emirates ID Holder
  </li>
  <li>
      Over 21
  </li>
  <li>
      Employed
  </li>
</ul>
<p>
  What do you need from me to apply?
</p>
<p>
  · Emirates ID (for scanning purposes)
</p>
<ul>
  <li>
      Passport with visa page
  </li>
</ul>
<p>
  · A mobile phone number and valid email address
</p>
<ul>
  <li>
      UAE Bank account details
  </li>
</ul>
<p>
  Providing us with as much correct information as possible means we can let
  you know the outcome for your application ASAP.
</p>
<p>
  <strong>Why didn’t I receive an immediate decision? </strong>
</p>
<p>
  We’re a digital lender, but sometimes we need to look at things a little
  more carefully to ensure we’re making the right decisions.
</p>
<p>
  If you’re unable to provide all of your information on the spot, it may
  take a little longer. Sometimes we may need to call you to confirm your
  details over the phone.
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>Will you be contacting my work? </strong>
</p>
<p>
  We may contact your employer to verify your employment status and income.
</p>
<p>
  <strong>
      Can I apply for SAMA loans over the phone or in a physical shop?
  </strong>
</p>
<p>
  We only take applications online – but we’ve made our application process
  as

      quick and user-friendly

  as possible. It’s tailored for phones and tablets too, so it’s easy to
  apply for a SAMA loan from any device.
</p>
<p>
  <strong>Who is eligible for a SAMA loan? </strong>
</p>
<p>
  Anyone who is over 21, an UAE resident, employed, and has a decent credit
  history.
</p>
<p>
  We’re big on
 
      responsible lending
  , so if we don’t think you’re in a position to repay the loan comfortably,
  we won’t lend to you.
</p>
<p>
  <strong>How much will you lend me?</strong>
</p>
<p>
  We will always try to ensure that we’re only lending an amount you can
  afford to repay.
</p>
<p>
  Our lending criteria take a number of factors into account before deciding
  the amount we’re able to lend you. These include income, expected living
  costs, and your SAMA loan rating.
</p>
<p>
  <strong>Do you conduct credit history checks? </strong>
</p>
<p>
  As a responsible lender, we carry out a credit check as part of our
  assessment of your application. This doesn’t mean we automatically decline
  anyone with a mark on their credit file and we understand there may be a
  good reason, or your circumstances may have improved.
</p>
<p>
  To give yourself the best chance of acceptance, make sure you give us as
  much information as possible (and check that it's accurate) during your
  application.
</p>
<p>
  There are some circumstances whereby we will decline an application, such
  as if you have a poor credit history, are bankrupt or are in a debt
  agreement.
</p>
<p>
  <strong>How fast can I get my loan? </strong>
</p>
<p>
  It only takes about 3-5 minutes to apply. Once your application has been
  approved, we move fast to get you your cash.
</p>
<p>
  We aim to have your loan funds in your bank account within the same day.
  This will depend on your availability to conduct the physical KYC and in
  some instances it may take longer.
</p>
<p>
  <strong>How soon after my last loan can I get another loan? </strong>
</p>
<p>
  Straight away, so long as you’ve repaid your last loan in full and continue
  to meet our lending criteria.
</p>
<p>
  <strong>
      How does it work if I apply after business hours or on a weekend?
  </strong>
</p>
<p>
  Because our digital application is smart, easy and fast, you can still
  apply outside of business hours or on weekends.
</p>
<p>
  If you are approved, your KYC visit will be scheduled for the next working
  day and loan will be transferred after that.
</p>
<p>
  If you don’t provide us with your full details for electronic verification
  and validation, you’ll have to wait for our next working day for us to
  manually review your documents.
</p>
<p>
  <strong>Why was my application declined? </strong>
</p>
<p>
  We need to ensure that we can confirm your identity, and that you can
  comfortably pay back the loan.
</p>
<p>
  If we were unable to lend to you this time, it is because we take our
  responsible lending practices seriously.
</p>
<p>
  We’re always happy to have a look at your application, particularly if your
  circumstances have improved.
</p>
<p>
  <strong><u>Fees and payments: </u></strong>
</p>
<p>
  What costs are involved?
</p>
<p>
  At SAMA, we offer variable costs and the cost of your loan is based on your
  SAMA loan rating. We reward customers with a good credit history by
  providing them with a lower cost.
</p>
<p>
  Apply now to find out your SAMA loan rating.
</p>
<p>
  <strong>
      Do I have to submit an application to find out my loan rating and what
      my repayment will be?
  </strong>
</p>
<p>
  No. Once you fill out your necessary details we will be able to make an
  assessment in seconds to determine your loan rating and repayments. You
  will see your loan rating and repayments before you are required to submit
  your loan application.
</p>
<p>
  What other fees may be charged?
</p>
<ul type="disc">
  <li>
      If you wish to make an early payment on your loan we do charge any
      early payment and an early termination fee.
  </li>
  <li>
      If you need to change a payment and it is within your loan term, let us
      know 1 business day before the payment is scheduled and we will change
      it for free.
  </li>
  <li>
      If you don’t let us know and your direct debit dishonors, we charge you
      an administration fee of AED 200 if you have a small loan or AED 150 if
      you have a medium or personal loan (your bank may also charge you a
      fee).
  </li>
  <li>
      Not paying us back on time will negatively affect your loan rating.
  </li>
</ul>
<p>
  <strong>How do I make my repayments?</strong>
</p>
<p>
  Repayments are set up to be really easy. When you apply, we set you up with
  a customized direct debit schedule that is aligned with your pay cycle.
</p>
<p>
  Once your loan is paid back in full, the direct debits will stop.
</p>
<p>
  <strong>Can I extend my repayment term? </strong>
</p>
<p>
  Your minimum repayments are set and cannot be reduced or extended. If you
  are facing financial difficulty or hardship we encourage you to reach out
  to us. We’re fair and understanding, and will work together with you to
  find a solution that works for both of us.
</p>
<p>
  <strong>How do I obtain statements?</strong>
</p>
<p>
  Each month you’ll receive an email with a link to your Statement of
  Account.
</p>
<p>
  You can also access it by going to your portal, clicking your Account
  details where you’ll find a link under ‘My line of credit’.
</p>
<p>
  <strong><u>I’m struggling with repayments..</u></strong>
</p>
<p>
  <strong>Speak to us!</strong>
</p>
<p>
  We can’t be of assistance if we don’t know what’s happening.
</p>
<p>
  <strong>What happens if I can’t honor my direct debit? </strong>
</p>
<p>
  If your bank declines your direct debit payment, you’ll be charged AED 200
  payment dishonor fee if you have a small loan with us, or AED 150 payment
  dishonor fee if you have a medium loan or personal loan with us (Your bank
  may also charge you a dishonor fee).
</p>
<p>
  The fee is payable every time a direct debit is dishonored, so it’s
  important you call us beforehand if you know there are insufficient funds
  in your account to make the scheduled payment.
</p>
<p>
  <strong>What happens if I have overdue payments?</strong>
</p>
<p>
  If your small loan account is not paid in full at the end of the loan term,
  we’ll charge a late fee of AED 20 per day until your account is settled.
</p>
<p>
  If you have a medium loan or personal loan account and you defer your
  payment for more than 5 days, we’ll charge a late fee of AED 50. Your total
  repayments may be higher as the interest will be calculated on your daily
  outstanding balance.
</p>
<p>
  We will contact you whenever your payments are behind to understand your
  situation and try to come to an arrangement.
</p>
<p>
  <strong>What if I am facing hardship? </strong>
</p>
<p>
  If your circumstances have changed since you took out the loan, we may be
  able to offer some assistance. Please call us on 800SAMA to allow us to
  assess your financial situation.
</p>
<p>
  We may need evidence of the change (such as a severance letter or a
  doctor’s certificate). We may also need to get in touch to obtain further
  information from you once you have completed the form.
</p>
<p>
  <strong><u>Contacting us </u></strong>
</p>
<p>
  <strong>When will SAMA contact me by telephone? </strong>
</p>
<p>
  We’ll only call you if we need to; such as if you’ve made an application or
  missed a payment and we need to speak to you.
</p>
<p>
  And you’re always welcome to get in touch with us in a variety of ways –
  check out our contact us page for more details.
</p>
<p>
  <strong>Can I come into a branch?</strong>
</p>
<p>
  SAMA is 100% online – but don’t worry, there’s more ways than ever to get
  in touch with us:
</p>
<p>
  E: info@samacapital.com
</p>
<p>
  T: 800SAMA
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>How do I make a complaint? </strong>
</p>
<p>
  Customer satisfaction is extremely important to us, but we understand
  sometimes we may get it wrong. Please email us your complaint to:
</p>
<p>
  customerservice@samacapital.com
</p>
<p>
  <strong>Where can I find your policies? </strong>
</p>
<p>
  At SAMA, we’re huge on transparency and honesty.
</p>
<p>
  Check out the links below to our key policies:
</p>
<ul type="disc">
  <li>
      Privacy policy
  </li>
  <li>
      Responsible lending
  </li>
  <li>
      Security policy
  </li>
  <li>
Customer commitment
  </li>
</ul>
<p>
  <strong></strong>
</p>
<p>
  <strong><u>Security</u></strong>
</p>
<p>
  <strong>What online security measures do you employ? </strong>
</p>
<p>
  Your privacy and security is important to us. We use products that are the
  best of the best in the online security business.
</p>
<p>
  We follow the same standards as banks and other online payment companies to
  ensure your safety and security.
</p>

<p>
  <strong>How is my information stored and protected? </strong>
</p>
<p>
  All information is entered through a Secure Socket Layer (SSL), which means
  an encrypted connection is created between your system and ours, and it's
  always kept that way.
</p>
<p>
  <strong><u></u></strong>
</p>
</div>
</div>
</div>