<ul>

  <li>(01) <a [routerLink]="['/home']">Home</a></li>
  <li>(02) <a [routerLink]="['/basic']">Registration</a></li>
  <li>(*02) <a [routerLink]="['/product']">Product Selection</a></li>
  <li>(03) <a [routerLink]="['/loan-amount']">Loan Amount</a></li>
  <li>(03) <a [routerLink]="['/terms-of-loan']">Terms of Loan</a></li>
  <li>(04) <a [routerLink]="['/lets-go']">Lets Go</a></li>
  <li>(05) <a [routerLink]="['/document-upload']">Document Upload</a></li>
  <!-- <li>(4) <a [routerLink]="['/statement']">Bank Statement</a></li> -->
  <li>(06) <a [routerLink]="['/personal-detail']">Personal Details</a></li>
  <!-- <li>(6) <a [routerLink]="['/company-detail']">Company Detail</a></li>
  <li>(7) <a [routerLink]="['/billing-address']">Billing Address</a></li> -->
  <li>(07) <a [routerLink]="['/registered-address']">Registered Address</a></li>
  <li>(08) <a [routerLink]="['/employer-detail']">Employer Detail</a></li>
  <li>(09) <a [routerLink]="['/bank-detail']">Account Detail</a></li>
  <li>(10) <a [routerLink]="['/agree']">Accept Term & Condition</a></li>
  <li>(11) <a [routerLink]="['/approved']">Approved</a></li>
  <li>(11) <a [routerLink]="['/appointment']">Appoinment</a></li>
  <li>(12) <a [routerLink]="['/declined']">Declined</a></li>
  <!-- <li>(07) <a [routerLink]="['/thank-you']">thank you Page</a></li> -->
  <li>(13) <a [routerLink]="['/view-my-app']">view-my-app</a></li>
  <li>(14) <a [routerLink]="['/my-application']">my-application</a></li>
  <li>(15) <a [routerLink]="['/existing-loan-app']">Loan</a></li>
  <li>(16) <a [routerLink]="['/forgot-appid-password']">forgot-appid-password</a></li>
  <li>(17) <a [routerLink]="['/forgot-app-id']">forgot-app-id</a></li>
   <li>(18) <a [routerLink]="['/reset-password']">reset-password</a></li>
</ul>
