<div class="col-lg-8">

  <ul class="text-left list-group list_none">
      <li class="margin_bottom_25"><label>Upload Documents</label></li>
      <li class="margin_bottom_25"><label>Personal Details</label></li>
      <li class="margin_bottom_25"><label>Address Details</label></li>
      <li class="margin_bottom_25"><label>Employer Details</label></li>
      <li class="margin_bottom_25"><label>Loan Details</label></li>
      <li class="margin_bottom_25"><label>Complete</label></li>
  </ul>
</div>