<app-header></app-header>
<p>&nbsp;</p>
<div class="row">
    <div class="col-lg-3 padding_0" id="sidebar">
        <!-- <img src="./assets/images/sideLeft.png" class="img-responsive side_bar"> -->
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
            <div class="col-lg-8">         
<h2 class="text-center" >Recover Account Password</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<form class="form-horizontal" [formGroup]='forgot_app_pass'   novalidate>
        <div class="col-lg-10 ">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <alert></alert>
                <div class="group form-group">
                    <input type="text" formControlName="applicantionId" required  class="form-control">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email ID</label>
                    <div *ngIf=" (applicantionId.dirty || isSubmitted) && applicantionId.invalid">
                            <div class="error-msg" *ngIf="applicantionId.errors.required">Enter Email ID</div>
                            <div class="error-msg" *ngIf="applicantionId.errors.pattern">Enter Valid Email</div>
                            <div class="error-msg" *ngIf="applicantionId.errors.minlength">Email ID should be minimum {{applicantionId.errors.minlength.requiredLength}} character</div>
                            <div class="error-msg" *ngIf="applicantionId.errors.maxlength">Email ID should be maximum {{applicantionId.errors.maxlength.requiredLength}} character</div>
                        </div>
                </div>
               
            </div>
        </div>


            <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="clear"></div>
                    <p>&nbsp; </p>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-default" (click)="sendOTPEmail()"  value="Send OTP">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                            <div class="form-group">
                                    <input type="button" class="btn btn-default" value="Go Back" [routerLink]="['/existing-loan-app']">
                                </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      
                    </div>
    
                </div>
              
        </form>
            </div>
        </div>
    </div>
</div>