<app-header></app-header>
<style>
.font_16{
  font-size: 16px;
}
</style>
<div class="row">
  <div class="col-lg-12" style="color: black">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-justify">

        <h3 class="text-center font-color-blue">
            <b>الأسئلة الشائعة</b>
          </h3>
          <p>&nbsp;</p>



<p dir="RTL">
    <strong>اختر فئة أدناه لمزيد من المعلومات </strong>
</p>
<ul>
    <li dir="RTL">
        عملية التقديم
    </li>
    <li dir="RTL">
        الرسوم والدفعات
    </li>
    <li dir="RTL">
        أنا أواجه صعوبات في السداد
    </li>
    <li dir="RTL">
        اتصل بنا
    </li>
    <li dir="RTL">
        الأمان
    </li>
</ul>
<p dir="RTL">
    <strong><u>عملية التقديم </u></strong>
</p>
<p dir="RTL">
    إذن كيف تعمل عملية التقديم؟
</p>
<p dir="RTL">
    إنه بسيط للغاية. ما عليك سوى البدء سريعًا، وتحديد مقدار ما تبحث عنه واملأ
    معلوماتك.
</p>
<p dir="RTL">
    سوف يستغرق الطلب منك ثلاثة دقائق فقط
</p>
<p dir="RTL">
    العملية غير ورقية وستتلقى قرارًا سريعًا. عند توقيعك إلكترونياً، قم بتحديد
    زيارة موظف اعرف عميلك ومن ثم ستحصل على المبالغ النقدية في حسابك. بكل بساطة.
</p>
<p dir="RTL">
    <strong><u>من يمكنه التقديم؟</u></strong>
</p>
<p dir="RTL">
    يجب أن تكون:
</p>
<ul>
    <li dir="RTL">
        مقيم بدولة الإمارات
    </li>
    <li dir="RTL">
        تحمل هوية إماراتية سارية المفعول
    </li>
    <li dir="RTL">
        عمرك أكثر من 21 سنة
    </li>
    <li dir="RTL">
        موظف
    </li>
</ul>
<p dir="RTL">
    ما المطلوب من أجل التقديم؟
</p>
<ul>
    <li dir="RTL">
        بطاقة الهوية الإماراتية (لأغراض المسح الضوئي)
    </li>
    <li dir="RTL">
        جواز السفر مع صفحة التأشيرة
    </li>
    <li dir="RTL">
        رقم هاتف متحرك وعنوان بريد الكتروني صحيح
    </li>
    <li dir="RTL">
        تفاصيل الحساب البنكي بدولة الامارات
    </li>
</ul>
<p dir="RTL">
    إن تزويدنا بالمعلومات الصحيحة قدر الإمكان يعني أنه يمكننا إبلاغك بنتائج
    تقديمك في أسرع وقت ممكن.
</p>
<p dir="RTL">
    <strong>لماذا لم أتلق قرارًا فوريًا؟</strong>
</p>
<p dir="RTL">
    نحن مقرض رقمي، لكننا في بعض الأحيان نحتاج إلى النظر إلى الأمور بعناية أكبر
    لضمان اتخاذنا القرارات الصحيحة.
</p>
<p dir="RTL">
    إذا لم تتمكن من تقديم جميع معلوماتك على الفور، فقد يستغرق الأمر وقتًا أطول
    قليلاً. قد نحتاج أحيانًا للاتصال بك للتأكيد على تفاصيلك عبر الهاتف.
</p>
<p dir="RTL">
    <strong>هل سوف تتصلون بجهة عملي؟</strong>
</p>
<p dir="RTL">
    قد نتصل بصاحب عملك للتحقق من وضعية عملك ومن دخلك
</p>
<p dir="RTL">
    هل يمكنني التقديم على قروض سماء من خلال الهاتف أم في المتجر الفعلي؟
</p>
<p dir="RTL">
    نحن نتعامل مع الطلبات عبر الإنترنت فقط - ولكننا جعلنا عملية تقديم الطلبات
    سريعة وسهلة الاستخدام قدر الإمكان. إنها مصممة خصيصًا للهواتف والأجهزة
    اللوحية أيضًا، لذلك من السهل تقديم طلب للحصول على قرض سماء من أي جهاز.
</p>
<p dir="RTL">
    <strong>من المؤهل للحصول على قرض سماء ؟</strong>
</p>
<p dir="RTL">
    أي شخص يكون في عمر أكثر من 21 سنة ومقيم بدولة الامارات وموظف وله تاريخ
    ائتماني لائق.
</p>
<p dir="RTL">
    نحن نستند إلى الإقراض المسؤول، لذلك إذا لم نكن نعتقد أنك قادر على سداد
    القرض بشكل مريح ، فلن نقرضه لك.
</p>
<p dir="RTL">
    كم سوف تقرضني؟
</p>
<p dir="RTL">
    سنحاول دائمًا ضمان أننا لن نقدم لك إلا مبلغًا يمكنك سداده.
</p>
<p dir="RTL">
    تأخذ معايير الإقراض لدينا في الاعتبار عددًا من العوامل قبل تحديد المبلغ
    الذي يمكننا تقديمه لك. ويتضمن ذلك الدخل وتكاليف المعيشة المتوقعة وتصنيفك
    لقرض سماء
</p>
<p dir="RTL">
    <strong>هل تجري اختبارات التاريخ الائتماني؟</strong>
</p>
<p dir="RTL">
    بصفتنا مقرضًا مسؤولًا، نقوم بإجراء المراجعة الائتمانية كجزء من تقييمنا
    لطلبك. هذا لا يعني أننا نرفض تلقائيًا أي شخص يحمل علامة على ملف الائتمان
    الخاص به، ونفهم أنه قد يكون هناك سبب وجيه، أو ربما تحسنت ظروفك.
</p>
<p dir="RTL">
    من أجل اعطائك أفضل فرصة للقبول، حاول إعطائنا أكبر قدر من المعلومات (وتأكد
    من دقتها) خلال طلبك.
</p>
<p dir="RTL">
    توجد بعض الظروف بمقتضاها سوف نرفض أي طلب، مثل عندما يكون لديك تاريخ ائتماني
    ضعيف أو مفلسا أو أبرمت اتفاقية دين.
</p>
<p dir="RTL">
    <strong>كيف يمكنني الحصول على القرض بسرعة</strong>
    ؟
</p>
<p dir="RTL">
    يستغرق ذلك 3 – 5 دقائق فقط للتقديم. بمجرد حصول الموافقة على طلبك، نتحرك
    بسرعة من أجل صرف القرض اليك.
</p>
<p dir="RTL">
    نهدف الى حصولك على مبلغ القرض في حسابك البنكي في نفس اليوم. وهذا سوف يعتمد
    على توافرك لمباشرة اعرف عميلك، وقد يستغرق الأمر أكثر من ذلك في بعض الظروف.
</p>
<p dir="RTL">
    <strong>متى يمكنني الحصول على قرض آخر بعد قرضي الأخير؟</strong>
</p>
<p dir="RTL">
    على الفور، طالما أنك سددت آخر قرض لك بالكامل وتستمر في استيفاء معايير
    الإقراض لدينا.
</p>
<p dir="RTL">
    <strong>
        ما الحل إذا تقدمت بطلب بعد ساعات العمل أو في عطلة نهاية الأسبوع؟
    </strong>
</p>
<p dir="RTL">
    نظرًا لأن تطبيقنا الرقمي ذكي وسهل وسريع، يمكنك تقديم الطلب بعد ساعات العمل
    أو في عطلات نهاية الأسبوع.
</p>
<p dir="RTL">
    في حال الموافقة عليك، سوف يتم تحديد موعد زيارة اعرف عمليك في يوم العمل
    التالي وسوف يتم تحويل القرض اليك بعد ذلك
</p>
<p dir="RTL">
    في حال لم تزودنا بالتفاصيل الكاملة من أجل التحقق والتفعيل الالكتروني، سوف
    تنتظر من أجل يوم العمل التالي من أجل مراجعة مستنداتك يدويا.
</p>
<p dir="RTL">
    <strong>لماذا يتم رفض طلبي؟</strong>
</p>
<p dir="RTL">
    نحتاج الى ضمان أننا يمكننا التأكيد على هويتك وأنه يمكنك سداد القرض بسهولة.
</p>
<p dir="RTL">
    في حال لم نتمكن من اقراضك هذه المرة، فذلك بسبب أننا نمارس ممارسات الإقراض
    المسئولية بصرامة.
</p>
<p dir="RTL">
    نحن دائما سعداء بالنظر في طلبك، وخصوصا في حال تحسنت ظروفك.
</p>
<p dir="RTL">
    <strong>الرسوم والدفعات </strong>
</p>
<p dir="RTL">
    ما هي تكاليف القرض؟
</p>
<p dir="RTL">
    في سماء ، نقدم تكاليف متفاوتة وتعتمد تكلفة قرضك على تصنيف قرض سماء الخاص
    بك. نحن نكافئ العملاء أصحاب التاريخ الائتماني الجيد ونقدم لهم القروض بأقل
    تكلفة.
</p>
<p dir="RTL">
    تقدم بالطلب الآن لتعرف تصنيف قرض سماء الخاص بك.
</p>
<p dir="RTL">
    <strong>
        هل يجب علي تقديم طلب من أجل معرفة تصنيف قرضي وكيف سيكون سدادي للقرض؟
    </strong>
</p>
<p dir="RTL">
    لا، بمجرد استيفائك للتفاصيل الضرورية، سوف نتمكن من اجراء التقييم في ثواني
    لتحديد تصنيف قرضك وعمليات السداد. سوف ترى تصنيف قرضك وعمليات السداد قبل أن
    تكون مكالبا بتقديم طلب القرض.
</p>
<p dir="RTL">
    ما هي الرسوم الأخرى المفروضة؟
</p>
<p dir="RTL">
    · في حال رغبت في الدفع المبكر لقرضك، نفرض رسوم الدفع المبكر ورسوم الانهاء
    المبكر.
</p>
<p dir="RTL">
    · في حال احتجت الى تغيير أي دفعة وتكون في مدة قرضك، يرجى ابلاغنا قبل يوم
    عمل من موعد الدفعة وسوف نقوم بتغييرها مجانا.
</p>
<p dir="RTL">
    · في حال لا تريدنا أن نعرف وتم رفض الخصم المباشر الخاص بك، سوف نفرض عليك
    رسوم إدارية 200 درهم في حال حصلت على قرض صغير أو 150 درهم في حال كان قرضك
    متوسطا أو شخصيا (قد يقوم البنك الخاص بك أيضا بفرض رسوم عليك)
</p>
<p dir="RTL">
    · عدم السداد الينا في الموعد، سوف يؤثر سلبا على تصنيف قرضك.
</p>
<p dir="RTL">
    <strong>كيف أقوم بعمليات السداد الخاصة بي؟</strong>
</p>
<p dir="RTL">
    عمليات السداد مصممة لتكون سهلة بالفعل. عندما تقدم طلبك، سوف نضع لك جدول خصم
    مباشر مخصص والذي يتماشى مع دورة راتبك.
</p>
<p dir="RTL">
    بمجرد سداد قرضك بالكامل، سوف يتوقف الخصم المباشر.
</p>
<p dir="RTL">
    <strong>هل يمكنني تمديد مدة السداد الخاصة بي؟</strong>
</p>
<p dir="RTL">
    الحد الأدنى لعمليات السداد محددة ولا يمكن تخفيضها أو تمديدها. في حال تواجه
    صعوبة مالية، نشجعك على التواصل معنا. نحن عادلين ومتفهمين وسوف نعمل سويا معك
    لإيجار حل مناسب لكلينا
</p>
<p dir="RTL">
    <strong>كيف أحصل على كشوف الحساب؟</strong>
</p>
<p dir="RTL">
    سوف تستلم كل شهر رسالة الكترونية مع رابط لكشف حسابك
</p>
<p dir="RTL">
    يمكنك أيضا الوصول اليك من خلال بوابتك والضغط على تفاصيل حسابك حيث سوف تجد
    رابط اسفل "خط ائتماني"
</p>
<p dir="RTL">
    <strong><u>أنا أعاني مع السداد </u></strong>
</p>
<p dir="RTL">
    <strong>تحدث الينا!</strong>
</p>
<p dir="RTL">
    لا يمكننا المساعدة ما لم نعلم ماذا يحدث.
</p>
<p dir="RTL">
    <strong>ماذا يحدث إذا لم أتمكن من الوفاء بالخصم المباشر الخاص بي؟</strong>
</p>
<p dir="RTL">
    في حال رفضك بنك دفعة الخصم المباشر الخاص بك، سوف يتم فرض عليك رسوم عدم وفاء
    200 درهم اماراتي في حال كان قرضك صغيرا أو 150 درهم في حال كان قرضك متوسطا
    أو شخصيا (قد يفرض عليك البنك أيضا رسوم عدم وفاء)
</p>
<p dir="RTL">
    الرسوم مستحقة الدفع في كل مرة لا يتم الوفاء فيها بالخصم المباشر، لذا من
    المهم لك الاتصال بنا قبل ذلك في حال عرفت أنه لا يوجد رصيد كافي في حسابك من
    أجل أداء الدفعة المقررة.
</p>
<p dir="RTL">
    <strong>ماذا في سيحدث في حال كان لدي دفعات متأخرة الاستحقاق؟</strong>
</p>
<p dir="RTL">
    في حال لديك حساب قرض صغير غير مدفوع بالكامل في نهاية مدة القرض، سوف نفرض
    عليك رسوم تأخير بمعدل 20 درهم يوميا حتى تسوية حسابك.
</p>
<p dir="RTL">
    في حال لديك حساب قرض متوسط أو قرض شخصي وقمت بتأجيل دفعتك لمدة تزيد عن 5
    أيام، سوف نفرض عليك رسوم تأخير بمعدل 50 درهم. اجمالي دفعات السداد الخاصة بك
    قد تكون أعلى في حال حساب الفائدة على الفرق المستحق عليك يوميا.
</p>
<p dir="RTL">
    سوف نتصل بك في حال كانت دفعاتك متأخرة كيف تفهم وضعك وتحاول الوصول الى
    ترتيب.
</p>
<p dir="RTL">
    <strong>ماذا يحدث في حال واجهة صعوبات؟</strong>
</p>
<p dir="RTL">
    في حال تغيرت ظروفك منذ أخذت القرض، قد نتمكن من تقديم بعض المساعدة
</p>
<p dir="RTL">
    يرجى الاتصال بنا على 800SAMA للسماح لنا بتقييم وضعك المالي
</p>
<p dir="RTL">
    قد نحتاج الى دليل التغيير (مثل خطاب فصل أو شهادة طبيب). قد نحتاج أيضا الى
    التواصل من أجل الحصول على مزيد من المعلومات منك بمجرد استيفائك النموذج
</p>
<p dir="RTL">
    <strong></strong>
</p>
<p dir="RTL">
    <strong></strong>
</p>
<p dir="RTL">
    <strong></strong>
</p>
<p dir="RTL">
    <strong></strong>
</p>
<p dir="RTL">
    <strong>الاتصال بنا </strong>
</p>
<p dir="RTL">
    <strong>متى سوف تتصل سماء بي عبر الهاتف؟</strong>
</p>
<p dir="RTL">
    سوف نتصل بك فقط في حال احتجنا الى ذلك، مثل في حال قدمت طلب أو لم تؤدي دفعة
    ونحتاج الى التحدث اليك
</p>
<p dir="RTL">
    وسوف نرحب باتصالك دائما بعدة طرق – راجع صفحة اتصل بنا من أجل مزيد من
    التفاصيل.
</p>
<p dir="RTL">
    <strong>هل يمكنني القدوم الى الفرع؟</strong>
</p>
<p dir="RTL">
    سماء 100% خدمة الكترونية. لكن لا تقلق، هناك طرق أكثر من أي وقت مضى للاتصال
    بنا
</p>
<p dir="RTL">
    البريد الالكتروني: info@samacapital.com
</p>
<p dir="RTL">
    هاتف: 800SAMA
</p>
<p dir="RTL">
    <strong>كيف يمكنني تقديم شكوى؟</strong>
</p>
<p dir="RTL">
    رضا العملاء أمر بالغ الأهمية بالنسبة لنا، لكننا نفهم أننا قد نخطئ في بعض
    الأحيان. ارسال الشكوى الخاصة بك عبر البريد الإلكتروني:
</p>
<p dir="RTL">
    customerservice@samacapital.com
</p>
<p dir="RTL">
    أين أجد السياسات الخاصة بكم؟
</p>
<p dir="RTL">
    في سماء ، نتميز بالشفافية والأمانة الكبيرة
</p>
<p dir="RTL">
    راجع الروابط ادناه من أجل الاطلاع على السياسات الرئيسية الخاصة بنا:
</p>
<ul>
    <li dir="RTL">
        <u>سياسة الخصوصية </u>
        <u></u>
    </li>
    <li dir="RTL">
        <u>الإقراض المسئول </u>
        <u></u>
    </li>
    <li dir="RTL">
        <u>سياسة الأمان </u>
        <u></u>
    </li>
    <li dir="RTL">
        <u>التزام العميل (إعادة التوجيه الى الموقع الالكتروني)</u>
        <u></u>
    </li>
</ul>
<p dir="RTL">
    <strong><u>الأمان </u></strong>
</p>
<p dir="RTL">
    <strong>ما هي الإجراءات الأمنية الالكترونية التي تستخدموها؟</strong>
</p>
<p dir="RTL">
    الخصوصية والأمان مهمين بالنسبة لنا. نحن نستخدم المنتجات التي هي الأفضل من
    بين الأفضل في مجال الأمان الالكتروني.
</p>
<p dir="RTL">
    <strong><u>سياسة الخصوصية </u></strong>
</p>
<p dir="RTL">
    <strong>كيف يتم تخزين وحماية معلوماتي؟</strong>
</p>
<p dir="RTL">
    يتم ادخال كل المعلومات من خلال بروتوكول طبقة المقابس الآمنة، مما يعني أنه
    يتم إنشاء اتصال مشفر بين النظام الخاص بك وبينا، ويتم الاحتفاظ به دائمًا
    بهذه الطريقة.
</p>
<p>&nbsp;</p>
</div>
</div>
</div>
