
    .ng5-slider-limit {
      top: 12px;
    }
  

.ng5-slider-bubble {
        cursor: default;
        bottom: 16px;
        padding: 1px 3px;
        color: #00BFD5;
        font-size: 16px;
        background-color: black;

    }

    

