<app-header></app-header>

<div class="row">
<div class="col-lg-3 padding_0" id="sidebar">
    <img src="./assets/images/sideLeft.png" class="img-responsive side_bar">
</div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-8 text-center">
<h2 class="text-center title-color">Reset Password</h2>

                </div>
<p>&nbsp;</p>

<form class="form-horizontal" [formGroup]='reset_password' (ngSubmit)="resetPass()"  novalidate>
   
    <div class="col-lg-10 ">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <alert></alert>
            <div class="floating-label form-group">
                <input type="text" formControlName="applicantEmailId" class="floating-input" placeholder=" ">
                <span class="highlight"></span>
           
                        <label>Email</label>
                <div *ngIf=" (applicantEmailId.dirty || isSubmitted) && applicantEmailId.invalid">
                        <div class="error-msg" *ngIf="applicantEmailId.errors.required">Enter Email ID</div>
                        <div class="error-msg" *ngIf="applicantEmailId.errors.minlength">Email ID should be minimum {{applicantEmailId.errors.minlength.requiredLength}} character</div>
                        <div class="error-msg" *ngIf="applicantEmailId.errors.maxlength">Email ID should be maximum {{applicantEmailId.errors.maxlength.requiredLength}} character</div>
                        <div class="error-msg" *ngIf="applicantEmailId.errors.pattern">Enter valid Email</div>
                  
                    </div>
            </div>
           
        </div>
    </div>

    <div class="col-lg-10">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div class="floating-label form-group">
                <input type="text" formControlName="otp" class="floating-input" placeholder=" ">
                <span class="highlight"></span>
      
                <label>OTP</label>
                <div *ngIf=" (otp.dirty || isSubmitted) && otp.invalid">
                        <div class="error-msg" *ngIf="otp.errors.required">Enter OTP</div>
                        <div class="error-msg" *ngIf="otp.errors.minlength">OTP should be minimum {{otp.errors.minlength.requiredLength}} character</div>
                        <div class="error-msg" *ngIf="otp.errors.maxlength">OTP should be maximum {{otp.errors.maxlength.requiredLength}} character</div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-lg-10">
        <div class="col-lg-1 "></div>
        <div class="col-lg-8">
            <div class="floating-label form-group">
                <input type="password" formControlName="newPassword" class="floating-input" placeholder=" ">
                <span class="highlight"></span>
     
                <label>Password</label>
                <div *ngIf=" (newPassword.dirty || isSubmitted) && newPassword.invalid" class=" error-msg">
                        <div class="error-msg" *ngIf="newPassword.errors.required">Enter Password</div>
                        <div class="error-msg" *ngIf="newPassword.errors.minlength">Password should be minimum {{newPassword.errors.minlength.requiredLength}} character</div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div class="floating-label form-group">
                <input type="password" formControlName="confirmPass" class="floating-input" placeholder=" ">
                <span class="highlight"></span>
         
                <label>Confirm Password</label>
                <div *ngIf=" (confirmPass.dirty || isSubmitted) && confirmPass.invalid" class=" error-msg">
                        <div class="error-msg" *ngIf="confirmPass.errors.required">Enter Confirm Password</div>
                        <div class="error-msg" *ngIf="confirmPass.errors.minlength">Confirm Password should be minimum {{confirmPass.errors.minlength.requiredLength}} character</div>
                        <div class="error-msg" *ngIf="confirmPass.errors?.MatchFields">Password not match</div>
                   
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="clear"></div>
        <p>&nbsp; </p>
        <div class="col-lg-2 col-md-2 col-sm-2">
            
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
                <input type="submit" class="btn btn-default"   value="Reset Password">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
                <input type="button" class="btn btn-default btn-md" [routerLink]="['/home']"  value="Cancel">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          
        </div>

    </div>      
        </form>
            </div>
        </div>
    </div>
</div>