.upload-photo {
    opacity: 0;
    position: absolute;
    z-index: 100;
    
 }

 .custom-input input {
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .custom-input {
    background-image: url("/assets/images/file_upload_small.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    cursor: pointer;
    height: 40px;
  }
  
 