<app-header></app-header>
<div class="row">
  <div class="col-lg-12 ">
    <div class="col-lg-1"></div>
    <div class="col-lg-10  header-progress-bar">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
    </div>
    <div class="col-lg-1"></div>

  </div>
</div>
<div class="row">
  <div class="col-lg-12 ">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
    <div class="col-lg-1"></div>

  </div>
</div>
<div class="row">

  <div class="col-lg-3 padding_0" id="sidebar">
    <img src="./assets/images/sideLeft.png" class="img-responsive side_bar">
  </div>
  <div class="col-lg-8">
    <p> &nbsp;</p>
    <alert></alert>
    <div class="col-lg-12 text-center">
      <h2 class="title-color">Tell us more about your finance requirement</h2>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <form class="form-horizontal" [formGroup]='loanamountForm' novalidate>

      <div class="col-lg-12">
        <div class="col-lg-6"><label>How much does your business need?<span class="error-astrix"> *</span></label></div>
        <div class="col-lg-6">
          <div class="form-group">
            <ng5-slider [(value)]="amountvalue" [options]="amount" (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>
            <div class="error-msg" *ngIf="loanerror">Please Select Loan Amount</div>

          </div>

        </div>
      </div>

      <div class="col-lg-12">
        <div class="col-lg-6"><label>For how long?<span class="error-astrix"> *</span></label></div>
        <div class="col-lg-6">
          <div class="form-group group">

            <ng5-slider [(value)]="monthValue" [options]="month"></ng5-slider>
            <div class="error-msg" *ngIf="tenureerror">Please Select Tenure</div>

          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6"><label>Why do you need the loan?<span class="error-astrix"> *</span></label></div>
        <div class="col-lg-6">
          <div class="form-group floating-label">
            <select class="floating-select" formControlName="reason">
              <option value="0">Select Option</option>
              <option *ngFor="let loanReasons of loanreason" [value]="loanReasons.loanReasonCategoryCode">{{loanReasons.loanReasonCategoryDesc}}</option>
            </select>
            <span class="highlight"></span>
            <div *ngIf=" (reason.dirty || isSubmitted) && reason.invalid" class=" error-msg">
              <div class="error-msg" *ngIf="reason.errors.required">Select Loan reason </div>

            </div>
            <!-- <label>Select option</label> -->

          </div>

        </div>
      </div>



      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="clear"></div>
        <p>&nbsp; </p>
        <p> &nbsp;</p>

        <div class="col-lg-4 col-md-4 col-sm-4">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="form-group">
            <input type="button" class="btn btn-default" (click)="nextStep()" value="Next Page">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
        </div>


      </div>
    </form>

  </div>


</div>