<app-header></app-header>

<div class="row">

  <div class="col-lg-12 jumbotron">
    <p> &nbsp;</p>
    <!-- <alert></alert> -->
    <div class="col-lg-12">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h2 class=" text-center">Let's get going</h2>

      </div>
      <div class="col-lg-3"></div>

    </div>
    <p>&nbsp;</p>
    <div class="col-lg-12 col-md-12 col-sm-12">
<div class="col-lg-3"></div>
<div class="col-lg-6  text-justify text-center">
   <p class="font-color-brown text-center">Tip : Keep soft copy in one folder so that you can easily upload them.</p>
   <p class="font-color-brown text-center">Remember to upload in JPEG/PNG/JPG or PDF format only,less than 10MB.</p>
   <p class="font-color-brown text-center">List of Documents you will need:
    Your Emirates ID, Passport, Visa Page</p>
    </div>
  </div>
      <div class="col-lg-12 col-md-12 col-sm-12">

        <p>&nbsp; </p>
    
        <div class="col-lg-5 col-md-5 col-sm-5">
         
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-center">
            <div class="form-group">
                <input type="button" class="btn btn-default" [routerLink]="['/document-upload']" value="I am Ready to Upload">
              </div>
        </div>

     
        <div class="col-lg-5 col-md-5 col-sm-5">
            <!-- <div class="form-group">
                <input type="button" class="btn btn-default" value="Go Back">
              </div> -->
        </div>


      </div>
 

  </div>


</div>