<ul>

  <li>(1) <a [routerLink]="['/home']">Home</a></li>
  <li>(2) <a [routerLink]="['/basic']">Registration</a></li>
  <li>(3) <a [routerLink]="['/loan-amount']">Loan Amount</a></li>
  <li>(4) <a [routerLink]="['/lets-go']">Lets Go</a></li>
  <li>(5) <a [routerLink]="['/shareholder-document']">shareholder Document Upload</a></li>
  <li>(6) <a [routerLink]="['/statement']">Bank Statement</a></li>
  <li>(7) <a [routerLink]="['/shareholder-detail']">shareholder Detail</a></li>
  <li>(8) <a [routerLink]="['/company-detail']">Company Detail</a></li>
  <li>(9) <a [routerLink]="['/billing-address']">Billing Address</a></li>
  <li>(10) <a [routerLink]="['/registered-address']">Registered Address</a></li>
  <li>(11) <a [routerLink]="['/parent-company-address']">Parent Company Address</a></li>
  <li>(12) <a [routerLink]="['/bank-detail']">Bank Detail</a></li>
  <li>(13) <a [routerLink]="['/thank-you']">thank you Page</a></li>
  <li>(14) <a [routerLink]="['/view-my-app']">view-my-app</a></li>
  <li>(15) <a [routerLink]="['/my-application']">my-application</a></li>
  <li>(16) <a [routerLink]="['/existing-loan-app']">existing-loan-app</a></li>
  <li>(17) <a [routerLink]="['/forgot-appid-password']">forgot-appid-password</a></li>
  <li>(18) <a [routerLink]="['/forgot-app-id']">forgot-app-id</a></li>
   <li>(19) <a [routerLink]="['/reset-password']">reset-password</a></li>
</ul>