<app-header></app-header>
<div class="row">
  <div class="col-lg-12 ">
    <div class="col-lg-1"></div>
    <div class="col-lg-10  header-progress-bar">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
    </div>
    <div class="col-lg-1"></div>

  </div>
</div>
<div class="row">
  <div class="col-lg-12 ">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
    <div class="col-lg-1"></div>

  </div>
</div>
<div class="row">

  <div class="col-lg-3 padding_0" id="sidebar">
    <img src="./assets/images/sideLeft.png" class="img-responsive side_bar">
  </div>
  <div class="col-lg-9">
    <p> &nbsp;</p>
    <alert></alert>
    <div class="col-lg-12">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h2 class="title-color">Let's get going.</h2>

      </div>
      <div class="col-lg-2"></div>

    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="col-lg-12 col-md-12 col-sm-12">
<div class="col-lg-1"></div>
<div class="col-lg-8">
   <p class="font-color-brown ">Tip : Keep soft copy in one folder so that you can easily upload them.</p>
   <p class="font-color-brown ">Remember to upload in JPEG or PDF format only,less than 10MB.</p>
    </div>
  </div>
      <div class="col-lg-12">
        <div class="clear"></div>
        <p>&nbsp; </p>
        <p> &nbsp;</p>
        <div class="col-lg-2"> </div>
      
        <div class="col-lg-2">
            <div class="form-group">
                <input type="button"  [routerLink]="['/shareholder-document']" class="btn btn-default" value="I am Ready to Upload">
              </div>
        </div>

     
        <div class="col-lg-5">
            <!-- <div class="form-group">
                <input type="button" class="btn btn-default" value="Go Back">
              </div> -->
        </div>
       

      </div>
 

  </div>


</div>