<app-header></app-header>
<style>
.font_16{
  font-size: 16px;
}
</style>
<div class="row">
  <div class="col-lg-12" style="color: black">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-justify">

        <h3 class="text-center font-color-blue">
            <b>اتفاقية الموافقة على التوقيع الإلكتروني لـ سماء</b>
          </h3>
          <p>&nbsp;</p>


<p dir="RTL">
    الموافقة على التوقيع الإلكتروني هذه تعتبر موافقتك على استلام عمليات الإفصاح
    والمعلومات الأخرى في صيغة الكترونية. فيما يتعلق بخدمات سماء، سماء وشركة
    الحيل اوريكس للتمويل (شركة مساهمة خاصة) مطالبين بموجب القانون بتزويدك
    بعمليات الإفصاح المعينة. بدون موافقتك، سماء وشركة الحيل اوريكس للتمويل
    (شركة مساهمة خاصة) ليس مسموحا لهما بتقديم عمليات الإفصاح تلك اليك عن طريق
    لانترنت. في حال لم توافق على الموافقة على التوقيع الإلكتروني، يجب عليك عدم
    استخدام خدمات سماء.
</p>
<p dir="RTL">
    <strong>1. موافقة العميل </strong>
</p>
<p dir="RTL">
    قبل استخدام خدمات سماء، سوف نطلب منك الموافقة على شروط خدمة سماء بالضغط على
    "انشاء حساب". ويعتبر هذا الاجراء توقيع الكتروني ويشير الى موافقتك على
    الشروط التالية:
</p>
<p dir="RTL">
    · يجوز لشركة الحيل اوريكس للتمويل (شركة مساهمة خاصة) و/ أو سماء تقديم
    عمليات الإفصاح المطلوبة بموجب القانون فيما يتعلق بخدمات سماء وأية معلومات
    أخرى حول حقوقك وواجباتك القانونية وحسابك اليك الكترونيا.
</p>
<p dir="RTL">
    · يجوز لشركة الحيل اوريكس للتمويل (شركة مساهمة خاصة) و/ أو سماء ارسال اية
    مراسلات أو كشوف حساب فواتير أو عمليات الإفصاح المطلوبة مثل اخطارات الخصوصية
    المبدئية والسنوية (يُشار اليها مجتمعة بـ "عمليات الإفصاح") اليك الكترونيا
    من خلال موقعنا الالكتروني أو الى البريد الالكتروني أو رقم الهاتف المتحرك
    الذي زودتنا به.
</p>
<p dir="RTL">
    · يجوز لشركة الحيل اوريكس للتمويل (شركة مساهمة خاصة) و / أو سماء اخطارك من
    خلال البريد الالكتروني عند توافر عمليات الإفصاح. سوف تتوافر عمليات الإفصاح
    لمدة 30 يوم على الأقل وسوف يتم تزويدك بصيغة يمكن طباعتها أو تنزيلها من أجل
    سجلاتك. عند أرسلنا اليك رسالة الكترونية أو رسالة نصية فيما يتعلق بعمليات
    الإفصاح، سوف تحتوي الرسالة الالكترونية أو النصية على التعليمات فيما يتعلق
    بكيفية الاطلاع على عمليات الإفصاح.
</p>
<p dir="RTL">
    · توقيعك الالكتروني على الاتفاقيات والمستندات له نفس الأثر وكأنك وقعت عليها
    بالحبر.
</p>
<p dir="RTL">
    · تُطبق هذه الموافقة على أي معاملة تمت خلال الخدمات في الماضي وعلى كل
    عمليات الإفصاح المستقبلية والمراسلات الى حسابك وكل المعاملات المحتملة التي
    سوف تستخدم فيها الخدمات في أي وقت وعلى أي معاملة معنا وأية عمليات افصاح
    أخرى قد نقدمها اليك عبر البريد الالكتروني.
</p>
<p dir="RTL">
    <strong>2. الحد الأدنى للمتطلبات </strong>
</p>
<p dir="RTL">
    تفهم أنه من أجل الاطلاع على و/ أو الاحتفاظ بنسخ من عمليات الإفصاح، قد تحتاج
    الى حاسوب مع اتصال بالأنترنت (يجب أن يكون نظام التشغيل للحاسوب ويندوز 7 أو
    أعلى وانترنت اكسبلورر 10 أو أعلى، أو كروم أو فايرفوكس، ويجب أن تعمل أجهزة
    ماكينتوش بنظام أو اس اكس (OSX) سفاري، أو كروم أو فايرفوكس)؛ أجهزة الهواتف
    المتحركة (iOS 6.0 أو أجهزة أعلى تعمل بنظام سفاري أو كروم: أندرويد 4.0 أو
    أجهزة أعلى تستخدم متصفح أندرويد أو كروم)، عنوان بريد الكتروني صحيح ورقم
    هاتف متحرك يعمل بحيث يمكنه استلام الرسائل النصية ومساحة تخزين كافية لتخزين
    عمليات الإفصاح أو القدرة على طباعة عمليات الإفصاح من الجهاز الذي تراجعها من
    عليه.
</p>
<p dir="RTL">
    <strong>3. سحب الموافقة </strong>
</p>
<p dir="RTL">
    لك حرية سحب موافقتك في أي وقت. في حال في أي وقت رغبت في سحب موافقتك، يمكنك
ارسال الينا طلبك بتقديم طلب من خلال رابط "اتصل بنا" على    <a href="http://www.samacapital.com/">www.SAMACAPITAL.com</a> أو مراسلتنا
    على <a href="mailto:help@SAMA.com">help@SAMA.com</a> في حال قررت سحب
    موافقتك، الفعالية والسريان القانوني و/ أو وجب التطبيق لعمليات الإفصاح
    الالكترونية السابقة لن تتأثر بذلك ويجوز لـ سماء اغلاق أو تقييد الوصول الى
    حسابك. توافق على دفع أي مبلغ مدين به الى سماء حتى في حال لم تسحب موافقتك
    وقمنا بإغلاق أو تقييد الوصول الى حسابك.
</p>
<p dir="RTL">
    <strong>4. الأثر القانوني </strong>
</p>
<p dir="RTL">
    موافقتك على التوقيع الالكتروني يعني أن عمليات الإفصاح التي تقدمها سماء
    وشركة الحيل اوريكس للتمويل اليك الكترونيا سوف يكون لها نفس المعنى والأثر
    وكأنه مقدمة في صيغة ورقية. أي رسالة نصية أو بريد الكتروني ينبهك أن عمليات
    الإفصاح متوفرة الكترونيا، شريطة أن عمليات الإفصاح التي تقدمها سماء وشركة
    الحيل اوريكس للتمويل اليك الكترونيا سوف يكون لها نفس المعنى والأثر وكأنه
    مقدمة في صيغة ورقية، بصرف النظر عن هل اطلعت على عمليات الإفصاح تلك أم لا،
    ما لم تسحب موافقتك وفقا للمادة 3 أعلاه قبل استلام عمليات الإفصاح المذكورة.
</p>
<p dir="RTL">
    <strong>5</strong>
    <strong>. أحكام متنوعة </strong>
</p>
<p dir="RTL">
    توافق على أن يجوز لـ سماء تعديل أو تغيير وسائل الإفصاح الموصوفة هنا، ويجوز
    لشركة الحيل اوريكس للتمويل (شركة مساهمة خاصة) أو سماء ارسال اليك عمليات
    الإفصاح في صيغة ورقية وفقا لقرارها. يمكنك الحصول على نسخة ورقية من عملية
    الإفصاح الالكترونية بدون رسوم، شريطة تقديم هذا الطلب خلال الوقت المعقول
    بعدما نقدم اليك الإفصاح الالكتروني أولا. لطلب نسخة ورقية من أي عملية افصاح،
    اتصال بخدمة العملاء على الرقم 600 SAMA.
</p>
<p dir="RTL">
    توافق أيضا على أن سماء لا تتحمل المسئولية عن أي تأخير أو اخفاق في استلامك
    أي رسالة نصية أو اخطار الكتروني والذي لا يكون بسبب اخفاق سماء في ارسال هذا
    الاخطار الى رقم الهاتف أو البريد الالكتروني الذي قدمته لهذا الغرض.
</p>
<p>&nbsp;</p>
</div>
</div>
</div>
