<app-header></app-header>
<div class="row" style="color: black">
  <div class="col-lg-12">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-justify">
<h3 class="text-center font-color-blue">
  <b>SAMA E-Sign Consent Agreement</b>
</h3>
<p>&nbsp;</p>
<p>
  This E-Sign Consent constitutes your consent to receive disclosures and
  other information in electronic form. In connection with the SAMA Services,
  SAMA and Al Hail Orix Finance PSC, are required by law to provide you with
  certain disclosures. Without your consent, SAMA and Al Hail Orix Finance
  PSC are not permitted to provide those disclosures to you online. If you do
  not consent to this E-Sign Consent, you should not use the SAMA Services.
</p>
<h3>
  1. Consumer Consent.
</h3>
<p>
  Before using the SAMA Services, you will be asked to consent to the SAMA
  Terms of Service by clicking “Create Account.” This action constitutes your
  electronic signature and manifests your consent and agreement to the
  following terms:
</p>
<ul>
  <li> SAMA and/or Al Hail Orix Finance PSC may provide disclosures required by
  law relating to the SAMA Services and any other information about your
  legal rights and duties and your account to you electronically.
</li>
<li>
  SAMA and/or Al Hail Orix Finance PSC may send any communications, billing
  statements, or required disclosures, such as initial and annual privacy
  notices (together, “Disclosures”) to you electronically via our website or
  to the email address or mobile telephone number that you have provided to
  us.
</li>
<li>
SAMA and/or Al Hail Orix Finance PSC may notify you via email when the
  Disclosures are available. The Disclosures will be available for at least
  30 days and will be provided to you in a format that can either be printed
  or downloaded for your records. Whenever we send you an email or text
  message regarding the Disclosures, that email or text message will contain
  instructions regarding how to view the Disclosures.
</li>
<li>
  Your electronic signature on agreements and documents has the same effect
  as if you signed them in ink.
</li>
<li>
    This consent applies to any transaction undertaken through the Services
    in the past, to all future disclosures and communications on your account,
    to all future transactions in which you use the Services, at any time, to
    any transaction with us, and to other Disclosures that we provide to you by
    email.
  </li>
</ul>

<h3>

  2. Minimum Requirements.
</h3>
<p>
  You understand that, in order to view and/or retain copies of the
  Disclosures, you may need a computer with an Internet connection (PCs
  should be running Windows 7 or higher and Internet Explorer 10 or higher,
  Chrome, or Firefox; Macs should be running OSX and Safari, Chrome, or
  Firefox); a mobile device (iOS 6.0 or higher devices running Safari or
  Chrome; Android 4.0 or higher devices running Android Browser or Chrome), a
  valid email address, a working mobile telephone number that can receive
  text messages, sufficient storage space to save Disclosures or the
  capability to print the Disclosures from the device on which you view them.
</p>
<h3>

  3. Withdrawing Consent.
</h3>
<p>
  You are free to withdraw your consent at any time. If at any time you wish
  to withdraw your consent, you can send us your request by submitting a
request through the ‘contact us’ link at    <a href="http://www.samacapital.com/" target="_blank">www.SAMACAPITAL.com</a> or emailing
  help@SAMA.com. If you decide to withdraw your consent, the legal
  effectiveness, validity and/or enforceability of prior electronic
  Disclosures will not be affected and SAMA may close or limit access to your
  account. You agree to pay any amount owed to SAMA even if you withdraw your
  consent and we close or limit access to your account.
</p>
<h3>
  4. Legal Effect.
</h3>
<p>
  Your consent to this E-Sign Consent means that Disclosures SAMA and Al Hail
  Orix Finance PSC provide to you electronically shall have the same meaning
  and effect as if provided in paper form. A text message or email alerting
  you that Disclosures are available electronically, provided that the
  Disclosures are made available online shall have the same meaning and
  effect as if SAMA and Al Hail Orix Finance PSC had provided those
  Disclosures to you in paper form, regardless of whether you actually view
  those Disclosures, unless you have withdrawn your consent pursuant to
  Section 3, above, prior to receiving such Disclosures.
</p>
<h3>
  5. Miscellaneous.
</h3>
<p>
  You agree that SAMA may modify or change the methods of disclosure
  described herein, and that SAMA and/or Al Hail Orix Finance PSC may send
  you Disclosures in paper form at its option. You can obtain a paper copy of
  an electronic Disclosure at no charge, provided that such request is made
  within a reasonable time after we first provided the electronic Disclosure
  to you. To request a paper copy of a Disclosure, contact Customer Care at
  600 SAMA.
</p>
<p>
  You also agree that SAMA is not responsible for any delay or failure in
  your receipt of any text message or email notice that is not caused by
  SAMA’s failure to send such a notice to the phone number or email address
  you have provided for that purpose.
</p>
</div>
</div>
<p>&nbsp;</p>
</div>