<app-header></app-header>
<style>
.font_16{
  font-size: 16px;
}
</style>
<div class="row">
  <div class="col-lg-12" style="color: black">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-justify font_16">

        <h3 class="text-center font-color-blue">
            <b>الشروط والأحكام </b>
          </h3>
          <p>&nbsp;</p>
<p dir="RTL">
  أخر تحديث بتاريخ 25 نوفمبر 2018
</p>
<p dir="RTL">
  <strong>شروط خدمة سماء </strong>
</p>
<p dir="RTL">
  يرجى قراءة شروط الخدمة هذه بعناية. عند الدخول الى الموقع الالكتروني لـ سماء
  أو استخدام خدمة سماء، توافق على الالتزام (1) <u>شروط خدمة سماء</u>، (2)
  اتفاقية الموافقة على التوقيع الإلكتروني لـ سماء، (3) سياسة الخصوصية واخطار
  الخصوصية لـ سماء، و(4) اخطار الخصوصية. في حال عدم الموافقة على هذه الشروط،
  يرجى عدم الدخول الى الموقع الالكتروني لـ سماء أو استخدام خدمة سماء.
  العناوين الواردة في هذه الاتفاقية لأغراض الإشارة فقط. يجب عليك طباعة نسخة
  من هذه الاتفاقية من أجل سجلاتك.
</p>
<p dir="RTL">
  <strong>1. ما الذي توافق عليه؟</strong>
</p>
<p dir="RTL">
  1-1 أطراف هذه الاتفاقية.
</p>
<p dir="RTL">
  تصف شروط الخدمة هذه العلاقة التعاقدية ("الاتفاقية") بينك ("أنت" أو "لك")
  وسماء إنك (بما في ذلك شركاتها التابعة والمنتسبة ووكلائها والمتنازل لهم)
  ("سماء"، "نحن"، "لنا")، المعروفة باسم الحيل اوريكس للتمويل (شركة مساهمة
  خاصة)، فيما يتعلق باستخدام هذا الموقع الالكتروني ("الموقع الالكتروني") أو
  تطبيق الهاتف المحمول سماء ("التطبيق")، استخدامك لخدمة "قروض سماء" حسب ما هي
  موصوفة أدناه في المادة 2-1، استخدام لـ "الأدوات الإضافية" حسب ما هو موصوف
  أدناه في المادة 2-2، استخدام لأي خدمة/ خدمات أخرى معروضة من خلال الموقع
  الالكتروني أو التطبيق ووصولك الى معلومات حساب وخدمة سماء من خلال الموقع
  الالكتروني أو التطبيق (يُشار اليها مجتمعة بـ "خدمة/ خدمات سماء" أو "الخدمة/
  الخدمات").
</p>
<p dir="RTL">
  <strong>1-2 التغييرات على هذه الاتفاقية </strong>
</p>
<p dir="RTL">
  يجوز لـ سماء من طرف واحد اجراء أي تغيير على هذه الاتفاقية من وقت الى أخر،
  ومع هذا لن تفرض هذه التغييرات التزامات إضافية عليك فيما يتعلق بالإجراءات
  التي اتخذتها قبل سريان التغيير ما لم توافق تحديدا على تلك التغييرات (على
  سبيل المثال، من خلال تأكيد القرض). إضافة الى ذلك، توافق على قبول اية
  تغييرات على هذه الاتفاقية باستخدام خدمات سماء بعد نشر تلك التغييرات. في حال
  أجريت سماء اية تغييرات على هذه الاتفاقية والتي تعتبر جوهرية، سوف تبذل سماء
  الجهود المعقولة من أجل ابلاغك بتلك التغييرات، لكن عليك تحمل المسئولية عن
  مراجعة الاتفاقية المنشورة على موقعنا الالكتروني من وقت الى أخر لمعرفة ما
  اذا كان تم تغييرها.
</p>
<p dir="RTL">
  <strong>1-3 أهليتك </strong>
</p>
<p dir="RTL">
  لتكون مؤهلا لاستخدام الخدمات، يجب أن يكون عمرك 21 سنة على الأقل ومقيم في
  دولة الإمارات العربية المتحدة أو في أقاليمها. تقر وتضمن أنك مؤهل لاستخدام
  الخدمات.
</p>
<p dir="RTL">
  <strong>2. كيف ستخدمك سماء </strong>
</p>
<p dir="RTL">
  <strong>2-1 خدمة "قروض سماء"</strong>
</p>
<p dir="RTL">
  2-1-1 التفاصيل: "قروض سماء" هي عبارة عن منتج قرض بنظام الدفع بالتقسيط مع
  شروط قياسية من 3، 6 أو 12 شهر (قد تتوافر شروط أخرى في أوقات الترويج
  المختارة) التي تعرضها شركة الحيل اوريكس للتمويل (شركة مساهمة خاصة) من خلال
  منصة تقنية سماء. قد تتفاوت خيارات مدة القرض بناء على الجدارة الائتمانية
  الخاصة بك وتاريخك المصرفي. "قروض سماء" تسمح لك بالاستفادة من القروض قصيرة
  الأجل عندما تحتاج الى النقد السريع من أجل الاستخدام الشخصي أو التجاري. في
  حال وافقت على استخدام خدمات "قروض سماء"، تتعهد بسداد نفس المبلغ مضافا اليه
  رسوم التمويل حسب ما تحددها جدارتك الائتمانية.
</p>
<p dir="RTL">
  2-1-2 تتعهد بالدفع" قبل اكتمال صرف أي قرض من أجل أي من خدمات سماء، وسوف
  تضمن سماء تعهدك بالدفع بالإفصاح عن الشروط والأحكام المطبقة على تلك المعاملة
  وتأمين موافقة سماء الفعالة على تلك الشروط من أجل تلك المعاملة، ويضمن تعهدك
  بدفع اجمالي مبلغ الدفعات الى شركة الحيل اوريكس للتمويل (شركة مساهمة خاصة)
  أو المتنازل لهم، بمطالبتك بالضغط على الزر للتأكيد على قرضك.
</p>
<p dir="RTL">
  2-1-3 معدلات الفائدة: تتراوح معدلات "قروض سماء" من 5% الى 25% معدل نسبة
  مئوية سنوية ثابتة، تعتمد على جدارتك الائتمانية (0% معدل نسبة مئوية سنوية
  ثابتة على منتجات القروض المختارة). "قروض سماء" هي قروض ذات فائدة بسيطة
  والتي تعني أن الفائدة تستحق يوميا على أصل القرض غير المدفوع حتى مبلغ رسوم
  التمويل ما لم تدفع القرض بالكامل. في حال دفعت القرض الخاص بك مبكرا، قد
  تُطبق شروط استرداد السداد المسبق.
</p>
<p dir="RTL">
  2-1-4 رسوم التمويل: خدمة "قروض سماء" تخضع الى رسوم تمويل بناء على معدل
  الفائدة المطبق والذي تحدده جدارتك الائتمانية. سوف تفصح سماء دائما عن رسوم
  التمويل المحددة قبل موافقتك على أي قرض.
</p>
<p dir="RTL">
  2-1-5 الدفعة الأول: سوف تستحق دفعتك الأولى في موعد أقصاه 15 يوم بعد صرف
  مبلغ القرض.
</p>
<p dir="RTL">
  2-1-6 رسوم التأخر في الدفع: سوف تُفرض عليك رسوم بمعدل 1% من قسط الشهري
  المتساوي
</p>
<p dir="RTL">
  2-1-7 تخصيص الدفعة: الدفعة التي تدفعها سوف تُطبق أولا على الفائدة المستحقة
  غير المدفوعة وبعد ذلك على أصل القرض غير المدفوع. بالنسبة للقروض التي تكون
  متأخرة في الدفع، سوف تُطبق دفعتك أولا على المبالغ متأخرة الاستحقاق وبعدها
  على دفعتك الشهرية الحالية. بالنسبة للقروض التي لا تكون عليها رسوم، سوف
  تُطبق دفعتك أولا على أصل القرض غير المدفوع وبعدها على الفائدة المستحقة غير
  المدفوعة.
</p>
<p dir="RTL">
  2-1-8 الدفعات المقدمة الجزئية: الدفعات الزائدة عن دفعتك الحالية المقررة سوف
  تُطبق على أصل القرض غير المدفوع ولن تستخدم تجاه دفعتك القادمة المقررة.
  بالتالي، سوف تبقى مبالغ دفعتك الشهرية المقررة كما هي باستثناء دفعتك
  النهائية.
</p>
<p dir="RTL">
  2-1-9 غرامة السداد المسبق: يجوز لك سداد قرضك بالكامل في أي وقت لكن سوف يتم
  فرض عليك 1% من اجمالي مبلغ القرض المستحق كرسوم غرامة.
</p>
<p dir="RTL">
  2-1-10 استرداد السداد المسبق: تستحق استرداد أي مبالغ تدفعها زائدة عن أصل
  القرض المتبقي والفائدة المستحقة حتى تاريخ السداد المسبق. ومع هذا يجوز لنا
  اجراء المقاصة على اية مبالغ تستحقها في مواجهة اية مبالغ تدين بها لأي قرض
  أخر من قروض سماء أو تدين بها لنا خلافا لذلك. بدلا من استرداد السداد المسبق،
  يجوز لك استيفاء التزام السداد الخاص بك بموجب خدمة "قروض سماء" في أي تاريخ
  قبل تاريخ الدفعة النهائية بدفع الى سماء أي مبلغ يعادل الفرق المستحق غير
  المدفوع، مطروحا منه الحسم المطلوب حتى تاريخ تلك الدفعة
</p>
<p dir="RTL">
  <strong>2-2 الأدوات الإضافية </strong>
</p>
<p dir="RTL">
  2-2-1 الأدوات التي قد نعرضها: قد نعرض من وقت الى أخر لك القدرة على الوصول
  الى أدوات الإدارة المالية المعينة. وتتضمن أمثلة تلك الأدوات الحاسبات
  المالية والتحليلات المالية المخصصة، تذكير دفع الفواتير، لوحات المعلومات مع
  معلومات حول ديونك (بما في ذلك الديون التي قد تدين بها للغير) و/ أو الأصول
  والخدمات الأخرى المماثلة. ما لم نشير الى خلاف ذلك، سوف تُقدم تلك الأدوات
  اليك بدون رسوم وحصريا من أجل استخدام الشخصي.
</p>
<p dir="RTL">
  2-2-2 القيود على الأدوات: توافق على أنه يجوز لنا تعديل الأدوات أو إيقاف
  توافرها لك في أي وقت دون اخطار. لا نخضع لالتزام باستمرار توفير أي أداة
  معينة لك أو القيام بذلك بدون رسوم. في حال قمنا بتعديل اية أداة أو قمنا
  بإيقاف توفير اية أداة لك، تفهم أنك قد تفقد الوصول الى أي معلومات قدمتها
  فيما يتعلق باستخدامك للأداة ولا تمتلك أي حق في الحصول على تلك المعلومات
  منا. الى المدى الذي تكون فيه تلك الأدوات تقدم معلومات فيما يتعلق بالحسابات
  المالية التي تملكها مع المقرضين أو المؤسسات المالية الأخرى، تفهم أن
  المعلومات قد لا تكون محدثة. قبل التصرف بناء على هذه المعلومات، يجب عليك
  التأكيد على دقتها لدى المُقرض أو المؤسسة المالية التي تملك الحساب. أحيانا
  تكون أي أداة نقدمها غير متوفرة أو لا تعمل بصورة مناسبة، وتوافق أننا لا
  نتحمل أي مسئولية تجاهك في حال وقع ذلك أو فيما يتعلق بالأدوات عموما. قد
  تحتاج الى برنامج أو جهاز معين لاستخدام الأدوات وتفهم أن اخفاقك في الحصول
  على ذلك البرنامج أو الجهاز سوف ينتج عنه عدم قدرتك على استخدام الأدوات أو
  عملها بصورة مناسبة. تفهم أن بعض الأدوات أو بعض مهامها قد تتوافر فقط للعملاء
  الذين يرتبطون بعلاقات مع المقرضين أو موردي الخدمة أو المؤسسات المالية
  المعينين أو الذي يكون لديهم منتجات مالية معينة. في حال لم تكن تمتلك تلك
  العلاقات أو المنتجات، تفهم أنك قد لا تكون مؤهلا لاستخدام أي أداة أو كل من
  مهامها. توافق على أنه يجوز لنا استخدام المعلومات التي نجمعها من خلال
  الأدوات لتسويق المنتجات و/ أو الخدمات الأخرى اليك، بما في ذلك تلك الصادرة
  من الغير.
</p>
<p dir="RTL">
  2-2-3 الموردون طرف ثالث: يجوز لنا الاعتماد على موردين طرف ثالث من أجل
  مساعدتنا في اعداد أي أداة أو أي خدمة سماء أخرى متوفرة لك. بربط حساب سماء
  الخاص بك بأي أداة أو خدمة، تفوضنا وتفوض الموردين طرف ثالث بالوصول الى
  حساباتك المالية بالنيابة عنك وتجميع المعلومات حولك. تعطينا وتعطي الموردين
  طرف ثالث وكالة محدودة وتقوم بتعييننا وتعيين الموردين طرف ثالث كوكيل قانوني
  وصحيح لك من أجل التصرف بالنيابة عنك والوصول الى ونقل واستخدام معلوماتك حسب
  ما يكون ضروريا من أجل تقديم الأدوات والخدمات الأخرى. توافق على نقل وتخزين
  ومباشرة معلوماتك من قبل الموردين طرف ثالث المذكورين وفقا الى سياسات
  الخصوصية الخاصة بهم، بما في ذلك سياسة خصوصية سماء. لا نتحمل المسئولية تجاهك
  عن اية أضرار قد تعاني منها نتيجة لأي إجراءات من الغير أو تكاسل أو من
  معلومات الحساب غير الدقيقة.
</p>
<p dir="RTL">
  2-2-4 يتم تقديم الأدوات لأغراض المعلومات فقط: المعلومات المالية المقدمة من
  خلال الأدوات تُقدم من أجل أغراض المعلومات فقط وليست بديل للحصول على المشورة
  المهنية الفردية. لسنا مؤسسة اصلاح ائتماني أو خدمات ائتمانية بما في ذلك أي
  تصرفات لمؤسسات الإصلاح الائتماني أو الخدمات الائتماني. لا نقدم "خدمات
  ائتمانية" أو خدمات "اصلاح ائتماني". لا نقوم المشورة أو نساعدك في إعادة بناء
  أو تحسين ائتمانك. لا نقدم أي إقرار على أننا سوف نقوم بتحسين أو نحاول تحسين
  الائتمان الخاص بك. لا نقدم أي إقرار على أننا سوف نقوم بتحسين أو نحاول تحسين
  سجلك أو تاريخك أو تصنيفك. لا تعتزم الأدوات تقديم أي مشورة مالية أو قانونية
  أو ضريبية ولسنا مخطط مالي أو وسيط أو مستشار ضريبي. تعتزم الأدوات فقط تقديم
  المساعدة العامة في تنظيم التمويلات الخاصة بك. قبل اتخاذ أي قرارات مالية أو
  تنفيذ أي استراتيجية، يجب عليك مراعاة الحصول على معلومات إضافية ومشورة من
  محاسبك ومستشاريك الماليين الأخرين الذين على علم تام بظروفك الفردية.
</p>
<p dir="RTL">
  2-2-5 دقة وموثوقية وحسن توقيت المعلومات: استخدامك للأدوات يكون على تحملك
  وحدك للمخاطر. المعلومات المقدمة من خلال الأدوات تكون على أساس الحالة
  الراهنة وحسب ما هي متوافرة من أجل أغراض المعلومات فقط. لا نقدم أي ضمان على
  أن الأدوات سوف تستوفي متطلباتك أو توقعاتك أو تكون غير متقطعة أو في الوقت
  المناسب أو آمنة أو دقيقة أو موثوق بها
</p>
<p dir="RTL">
  <strong>2-3 الغاء المعاملات </strong>
</p>
<p dir="RTL">
  يجوز لـ سماء اختيار عدم تقديم أي خدمة اليك في أي وقت لأي سبب، وتتضمن دون
  حصر، جدارتك الائتمانية والتاريخ الزمني لمعاملاتك على موقعنا أو لأي سبب أخر.
  يجوز لـ سماء الغاء المعاملات في أي وقت قبل أي خدمة في حال خالفت أي من شروط
  هذه الاتفاقية
</p>
<p dir="RTL">
  <strong>2-4 جمع المعلومات عنك</strong>
</p>
<p dir="RTL">
  باستخدام خدمات سماء، تفوض سماء، مباشرة أو من خلال الغير، بإجراء اية
  استفسارات نعتبرها ضرورية من أجل تفعيل هويتك وتحصيل المعلومات عنك وفقا الى
  سياسة خصوصيتنا. وقد يتضمن ذلك مطالبتك بمزيد من المعلومات والتي سوف تسمح لنا
  بتعريفك بصورة معقولك، أو مطالبتك باتخاذ اية خطوات على التأكيد على ملكية
  بريدك الالكتروني أو سنداتك المالية أو التحقق من معلوماتك في مواجهة قواعد
  بيانات الغير أو من خلال المصادر الأخرى. يجوز لنا أيضا طلب منك مستندات
  التعريف لمساعدتنا في تفعيل هويتك. تحتفظ سماء بالحق في اغلاق أو إيقاف أو
  تقييد الوصول الى حسابك و/ أو الخدمات الأخرى في حال لم نتمكن من الحصول على
  هذه المعلومات أو التحقق منها.
</p>
<p dir="RTL">
  <strong>2-5 تفويض التقرير الائتماني ورفع التقارير </strong>
</p>
<p dir="RTL">
  تفوض شركة الحيل اوريكس للتمويل (شركة مساهمة خاصة) وسماء صراحة للحصول على
  اية تقارير من وكالات تقارير المستهلك عنك (1) عند طلب قرض، (2) دوريا طوال
  مدة قرضك (بما في ذلك في الشهر الذي يلي الشهر عندما تسدد أو تستوفي القرض
  خلافا لذلك) و(3) دوريا فيما يتعلق بأي خدمات أخرى قد تحصل عليها من (وتتضمن
  الخدمات التي تستلزم إدارة مالية أو أدوات ملف ائتماني قد نعرضها). تفوضنا
  صراحة باستخدام المعلومات التي نحصل عليها من تلك التقارير من أجل، من بين
  أشياء أخرى، إعادة تمويل السوق ومنتجات وخدمات سماء الحالية والمستقبلية
  المقدمة اليك (كلاهما خلال وبعد مدة قرضك ومدة اية خدمات أخرى قد تحصل عليها
  منا)، تقديم اليك اية خدمات أخرى (وتتضمن أدوات الإدارة المالية وأدوات الملف
  الائتماني) التي قد تطلبها، واتخاذ القرارات المتعلقة بإدارة وتحصيل من حسابك
  وقياس كيف يؤثر القرض الذي حصلت عليه منا على ائتمانك وأداء التحليل الاحصائي
  الأخر ومشاركة المعلومات معك حول ملفك الائتماني.
</p>
<p dir="RTL">
  تدرك أنه يجوز لـ سماء الإبلاغ عن المعلومات حول قرضك (مثل الدفعات المدفوعة
  في موعدها أو المتأخرة أو الفائتة وأية حالات اخلال وحقيقك سدادك لقرضك) الى
  وكالات التقارير الائتمانية
</p>
<p dir="RTL">
  <strong>2-6 التحصيل </strong>
</p>
<p dir="RTL">
  توافق على السماح لــ سماء بإرسال اليك رسائل تذكير بالدفعة من وقت الى أخر.
  بصرف النظر عن موافقتك أو سحب موافقتك على موافقة التوقيع الالكتروني على
  سماء، توافق على أن رسائل تذكير الدفع قد تأخذ شكل أي مراسلة متوافرة. توافق
  أيضا انه في حال لم تدفع أي مبلغ مدين به الى سماء وفقا الى هذه الاتفاقية،
  يجوز لـ سماء الاستعانة بجهود التحصيل في استرداد تلك المبالغ منك. ويجوز أن
  تستلزم جهود التحصيل هذه الاتصال بك مباشرة أو تقديم المعلومات الى اية وكالة
  تحصيل أو اتخاذ أي اجراء قانوني. الإخفاق في الدفع قد يؤثر على جدارتك
  الائتمانية.
</p>
<p dir="RTL">
  <strong>2-7 المراسلات والتبليغات </strong>
</p>
<p dir="RTL">
  توافق على أن يجوز لـ سماء تزويدك بالمراسلات حول حسابك وخدمة سماء الكترونيا
  أو من خلال المكالمات الهاتفية أو خطيا. قد تُطبق أسعار الهاتف المتحرك أو
  الرسائل أو البيانات العادية وتتحمل المسئولية عن تلك الرسوم. تحتفظ سماء
  بالحق في اغلاق أو تقييد الوصول الى حسابك وتحصيل في الحال كل المبالغ
  المستحقة في حال سحبت موافقتك على استلام المراسلات الالكترونية أو المراسلات
  الأخرى أو ألغيت الوصول الى أي موقع طرف ثالث تعتمد عليه خدمة سماء أو في حال
  يجب على أي خدمة ابطال أو الغاء حسابك من ذلك الوقع. سوف تعتبر أنك استلمت أية
  مراسلات الكترونية في غضون 24 ساعة من ارسالها بالبريد الالكتروني اليك أو
  ارسالها خلافا لذلك الى عنايتك (مثل من خلال الرسائل النصية القصيرة أو أي
  اشعارات أخرى على الانترنت أو الهاتف المتحرك). قد نفترض أنك استلمت أية
  مراسلات مرسلة اليك بالبريد بعد ثلاثة أيام عمل من تاريخ ارسالها.
</p>
<p dir="RTL">
  في حال احتجنا الى الاتصال بك من أجل خدمة حسابك أو تحصيل المبالغ التي تدين
  بها لنا، فإنك تعطي موافقة مباشرة الينا بالإضافة الى كل وكلاء الخدمة
  والوكلاء والمتعهدين والمحصلين من أجل موافقتك من أجل التواصل معك بأي طريقة
  مثل الاتصال بك أو ارسال الرسائل النصية أو الالكترونية اليك من خلال:
</p>
<p dir="RTL">
  · رقم الهاتف المتحرك أو الخط الأرضي الذي تزودنا به، المستخدم للاتصال بنا أو
  الذي نعتقد أننا يمكننا الوصول اليك من خلاله (حتى وان لم يكن رقمك)
</p>
<p dir="RTL">
  · أي عنوان بريد الكتروني تزودنا به أو أي من شركائنا
</p>
<p dir="RTL">
  · أنظمة الاتصال التلقائية وأنظمة الاتصال التلقائية بالهاتف
</p>
<p dir="RTL">
  · الرسائل الصوتية المسجلة مسبقا أو الاصطناعية وغيرها من أشكال الاتصالات
</p>
<p dir="RTL">
  توافق أيضا على أن هذه الاتصالات الغير مرغوب فيها من أجل أغراض أي قانون في
  دولة الإمارات العربية المتحدة وتفهم أنه قد ينتج عن ذلك رسوم هاتف متحرك أو
  رسائل نصية أو بيانات إضافية
</p>
<p dir="RTL">
  تدرك وتوافق على أنه يجوز لـ سماء، دون اشعار أو تحذير أخر ووفقا لتقديرها،
  رصد أو تسجيل أي محادثات هاتفية بينك أو بين أي شخص يتصرف بالنيابة عنك مع
  سماء أو وكلائها من أجل أغراض مراقبة الجودة والتدريب أو من أجل حمايتها. تقر
  وتدرك أنه بينما يتم سماع أو تسجيل أو رصد اتصالاتك بدون إشعار أو تحذير أخر،
  فإن قد لا تقوم سماء بتسجيل كل خطوط الهاتف أو المكالمات ولا تضمن سماء أن
  تسجيلات اية مكالمات هاتفية معينة سيتم الاحتفاظ بها أو يمكن استرجاعها.
</p>
<p dir="RTL">
  بصرف النظر عن هذا الحكم، تسليم سماء لأية عمليات افصاح تنظمها موافقة التوقيع
  الالكتروني سوف تخضع الى موافقتك أو سحب الموافقة على استلام عمليات الإفصاح
  تلك في صيغة الكترونية
</p>
<p dir="RTL">
  <strong>2-8 العمل مع الغير </strong>
</p>
<p dir="RTL">
  في حال منحت تصريح صريح الى الغير من أجل اتخاذ إجراءات معينة بالنيابة عنك أو
  الوصول الى معلومات معينة عن حسابك، سواء من خلال استخدامك منتج أو خدمة الغير
  أو من خلال حساب سماء الخاص بك، تقر أنه يجوز لـ سماء الإفصاح عن المعلومات عن
  حسابك التي تكون مفوضة منك الى ذلك الطرف ثالث. تقر أيضا أن منح التصريح الى
  أي طرف ثالث لاتخاذ إجراءات معينة بالنيابة عنك لا يعفيك من أي من مسئولياتك
  بموجب هذه الاتفاقية. إضافة الى ذلك، تقر وتوافق على أن لن تحمل سماء
  المسئولية عن، وسوف تعوض سماء عن أي مديونية تنشأ من الإجراءات أو تكاسل ذلك
  الطرف ثالث فيما يتعلق بالتصاريح التي منحتها
</p>
<p dir="RTL">
  <strong>3. استخدامك سماء </strong>
</p>
<p dir="RTL">
  <strong>3-1 الموافقة على تقديم معلومات دقيقة </strong>
</p>
<p dir="RTL">
  عندما تقدم المعلومات الى سماء أو فيما يتعلق بخدمات سماء، توافق على تقديم
  المعلومات الصحيحة والدقيقة والكاملة عنك فقط وتوافق على عدم تزوير هويتك أو
  معلومات حسابك. توافق أيضا على الحفاظ على معلومات حسابك محدثة ودقيقة
</p>
<p dir="RTL">
  <strong>3-2 المستخدم مسئول عن الرسوم </strong>
</p>
<p dir="RTL">
  في حال استخدمت خدمات سماء، تتحمل المسئولية عن اية رسوم أو مبالغ أخرى قد
  يفرضها مورد خدمة هاتفك مثل رسوم الرسائل النصية القصيرة وخدمات البيانات واية
  رسوم أخرى قد يفرضها مورد خدمة هاتفك
</p>
<p dir="RTL">
  <strong>3-3 طرق السداد </strong>
</p>
<p dir="RTL">
  يجوز لك استخدام طرق السداد المقبولة من أجل اجراء المعاملة مرة واحدة لدفع
  الى حسابك كدفعات مستحقة أو قد تؤسس نظام دفعات حساب شهرية تلقائي
</p>
<p dir="RTL">
  <strong>طرق الدفع الحالية المقبولة: </strong>
</p>
<p dir="RTL">
  · تحويل دي دي ايه – يجوز لك دفعك الفرق المستحق من القرض بتفويض معاملة
  التعليمات المستديمة من حسابك البنكي. في حال ارتجاع تحويل أموالك الالكترونية
  بسبب عدم كفاية الرصيد، سوف تتحمل المسئولية عن اية رسوم متكبدة ولن تتحمل
  سماء المسئولية عن ذلك
</p>
<p dir="RTL">
  · نظام تحويل الأموال في الامارات – يمكن دفع الأقساط الشهرية المستحقة
  باستخدام المنصة البنكية عبر الانترنت من خلال نظام تحويل الأموال
</p>
<p dir="RTL">
  · نقدا - يمكنك دفع حسابك المستحق نقدا بزيارة أي شباك صرف العملات
</p>
<p dir="RTL">
  <strong>3-4 الوصول الى حسابك </strong>
</p>
<p dir="RTL">
  تتحمل المسئولية عن الحفاظ على سرية بيانات اعتماد تسجيل الدخول الى حساب سماء
  الخاص بك. توافق على تأسيس إجراءات أمان معقولة وضوابط لتقييد الوصول الى كلمة
  السر الخاصة بك أو أي معلومات هوية أخرى للأشخاص المفوضين والتي تتضمن اختيار
  كلمات السر وبيانات الاعتماد بطريقة سوف تحمي أمان معلوماتك. بيانات اعتمادك
  تتضمن اسم المستخدم وكلمة المرور لحساب سماء الخاص بك وحساب أي طرف ثالث
  تستخدمه لتسجيل الدخول الى حساب سماء الخاص بك. تتحمل المسئولية أيضا عن
  الحفاظ على دقة المعلومات في حسابك.
</p>
<p dir="RTL">
  <strong>3-5 محتوى الموقع الالكتروني والتطبيق</strong>
</p>
<p dir="RTL">
  المعلومات على الموقع الالكتروني وتطبيق سماء يكون من أجل أغراض المعلومات
  فقط. ومن المعتقد أن تكون موثوقة، لكن لا تقدم سماء أي تعهدات من حيث اكتمالها
  أو توقيتها أو دقتها. المعلومات والمواد الواردة في الموقع الالكتروني وفي هذه
  الاتفاقية تخضع الى التغيير دون اخطار.
</p>
<p dir="RTL">
  الوصول الى الخدمات قد لا يكون متوفرا أو متأخرا أو مقيدا أو بطيئا من وقت الى
  أخر بسبب عدة أشياء من بينها:
</p>
<p dir="RTL">
  · اخفاق الخوادم والشبكات والأجهزة (بما في ذلك جهاز الحاسوب الخاص بك) وخطوط
  الاتصالات والتوصيلات والأجهزة الالكترونية والميكانيكية الأخرى
</p>
<p dir="RTL">
  · اخفاق البرنامج، بما في ذلك بين من عدة أشياء، الأخطاء أو الفيروسات أو
  مشكلات التهيئة أو عدم توافق الأنظمة أو الأدوات المساعدة أو التطبيقات أو
  تشغيل جدران الحماية أو برامج الفحص أو الرموز غير القابلة للقراءة أو
  المخالفات داخل مستندات معينة أو محتوى آخر
</p>
<p dir="RTL">
  · الحمل الزائد لقدرات النظام
</p>
<p dir="RTL">
  · الضرر بسبب الطقس الحاد أو الزلازل أو الحروب أو العصيان أو التمرد أو
  القضاء والقدر أو الحوادث أو الحريق أو ضرر المياه أو الانفجار أو العطل
  الميكانيكي أو الكوارث الطبيعية
</p>
<p dir="RTL">
  · تعطيل (سواء جزئي أو كلي) امدادات الطاقة أو الخدمات الأخرى أو الاضراب
  العمالي (سواء جزئي أو كلي)
</p>
<p dir="RTL">
  · القيود الحكومية أو التنظيمية أو تغير القرارات أو أحكام المحكمة أو أي تدخل
  بشري أخر، أو
</p>
<p dir="RTL">
  · أي سبب أخر (سواء مماثل أو مختلف عن أي مما سبق) يخرج عن نطاق تحكم سماء.
</p>
<p dir="RTL">
  <strong>3-6 الروابط للمواقع الالكترونية الأخرى </strong>
</p>
<p dir="RTL">
  الروابط لمواقع غير موقع سماء الالكتروني يتم تقديمها فقط كإشارات الى
  المعلومات على المواضيع التي قد تكون مفيدة لمستخدمي الخدمات ولا تسيطر سماء
  على محتوى تلك المواقع الالكترونية. لا تقدم سماء اية ضمانات فيما يتعلق
  بمحتوى تلك الموقع، بما في ذلك دقة واكتمال ومصداقية المواقع المذكورة ولا
  تضمن سماء ان أي موقع الكتروني أو محتوى يكون خاليا من أي مطالبات حقوق نشر أو
  علامة تجارية أو أي انتهاك أخر لحقوق الغير أو أن هذا الموقع أو المحتوى خالي
  من الفيروسات. في حال اخترت اتباع الرابط الى أي موقع الكتروني لا تسيطر عليه
  سماء، يجب عليك القيام بذلك على تحملك وحدك للمخاطر. لا تضمن سما صحة
  المستندات على الانترنت. الروابط لمواقع غير موقع سماء الالكتروني لا تنطوي
  على أي تصديق أو مسؤولية للآراء أو الأفكار أو المنتجات أو المعلومات أو
  الخدمات المقدمة في هذه المواقع أو أي اقرار يتعلق بالمحتوى في مثل هذه
  المواقع.
</p>
<p dir="RTL">
  <strong>3</strong>
  <strong>-7 اغلاق حسابك </strong>
</p>
<p dir="RTL">
  يجوز لك طلب اغلاق حسابك في أي وقت بالاتصال بنا على help@SAMACAPITAL.com. قد
  يستغرق طلبك حتى 30 يوم عمل من أجل معالجته. عند اغلاق الحساب، سوف نلغي اية
  معاملات معلقة ما لم يكن ذلك محظورا خلافا لذلك. في حال كنت مدين بأي دفعة، لن
  تقوم سماء بإغلاق حسابك ما لم يتم أداء الدفعة، لكننا قد نقيد قدرتك من اجراء
  المعاملات الإضافية باستخدام حسابك. لا يجوز لك اغلاق حسابك للتهرب من
  التحقيق. سوف تبقى مسئولا عن كل الالتزامات المتعلقة بحسابك حتى بعد اغلاق
  الحساب. لن تحتفظ سماء بمعلوماتك وفقا الى سياسة الخصوصية لدينا والقوانين
  والقواعد واللوائح المطبقة
</p>
<p dir="RTL">
  <strong>3-8 الحسابات الخاملة </strong>
</p>
<p dir="RTL">
  يجوز لـ سماء اغلاق حسابك في حال لم تقم بتسجيل الدخول الى حسابك أو استخدمت
  خدمات سماء لمدة سنتين أو أكثر. سوف تحتفظ سماء بمعلوماتك وفقا للمادة 3-7
  أعلاه
</p>
<p dir="RTL">
  <strong>3-9 الملاحظات التي تقدمها </strong>
</p>
<p dir="RTL">
  في حال قدمت اية ملاحظات أو أفكار الينا، توافق على أننا يمكننا استخدامها دون
  أي قيد أو تعويض اليك. في حال وافقنا على تقديمك، لن نتنازل عن أي حقوق في
  استخدام أي أفكار أو ملاحظات مماثلة أو متعلقة معروفة لنا سابقا أو تم تطويرها
  من قبل موظفينا أو حصلنا عليها من مصادر أخرى غيرك.
</p>
<p dir="RTL">
  <strong>4</strong>
  <strong>. كيف لا يجوز لك استخدام سماء.</strong>
</p>
<p dir="RTL">
  <strong>باستخدام خدمات سماء، توافق على ما يلي: </strong>
</p>
<p dir="RTL">
  · لن تشترك في أية أنشطة متعلقة بالخدمات تخالف أي قانون أو تشريعات أو لوائح
  مطبقة أو تخل بهذه الاتفاقية أو أي اتفاقية أو سياسة أخرى بينك وبين سماء
</p>
<p dir="RTL">
  · لن تقدم اية معلومات مضللة أو غير دقيقة
</p>
<p dir="RTL">
  · لن تقدم معلومات تخص أي شخص اخر بخلاف نفسك أو تستخدم أي حساب يخص أي شخص
  أخر من أجلك أو بالنيابة عن أي شخص أخر
</p>
<p dir="RTL">
  · لن تستخدم الخدمات لشراء:
</p>
<p dir="RTL">
  o أي بنود غير قانونية أو مباشرة أية أنشطة أو معاملات غير قانونية
</p>
<p dir="RTL">
  o الذخائر والأسلحة النارية أو أجزاء معينة من الأسلحة النارية وبعض الأسلحة
  أو السكاكين التي ينظمها القانون المعمول به؛
</p>
<p dir="RTL">
  o المخدرات أو الستيرويدات أو المواد الخاضعة للرقابة أو شبه المستحضرات
  الصيدلانية أو أدوات صنع العقاقير
</p>
<p dir="RTL">
  o العملة بأي شكل بما في ذلك العملة الافتراضية والرقمية
</p>
<p dir="RTL">
  o البضاعة المسروقة وتتضمن دون حصر البضاعة الرقمية أو الافتراضية، أو
</p>
<p dir="RTL">
  o أي بضاعة أو خدمة تعتبر غير مقبولة الى سماء أو شريكها البنكي، وفقا
  لتقديرهم المنفرد
</p>
<p dir="RTL">
  · لن تستخدم أي جهاز أو برنامج أو مسار أو ملف أو اية أداة أخرى أو تكنولوجيا،
  وتتضمن دون حصر، اية فيروسات أو فيروسات حصان طروادة، أو ديدان اليكترونية، أو
  قنابل موقوتة، تعتزم الحاق الضرر أو التداخل مع الخدمات أو اعتراض أو استنساخ
  أي نظام أو بيانات أو معلومات شخصية من الخدمات؛
</p>
<p dir="RTL">
  · لن تستخدم الخدمات من أجل أداء الدفعات لأي قرض سماء حالي. ما لم تسمح سماء
  صراحة بخلاف ذلك، لن تستخدم الخدمات من أجل غرض دفع أي قرض حالي من أي مؤسسة
  مالية أخرى
</p>
<p dir="RTL">
  · لن تستخدم الخدمات من أجل اجراء التحويل البرقي أو تحويل الأموال
</p>
<p dir="RTL">
  · لن ترتكب أي استخدام غير مصرح للموقع الالكتروني وأنظمة سماء وتتضمن دون حصر
  الدخول غير المصرح الى أنظمة سماء أو إساءة استعمال كلمات السر أو إساءة
  استعمال اية معلومات منشورة على الموقع، و
</p>
<p dir="RTL">
  · لن تتخذ أي اجراء قد يفرض أي حمل كبير غير معقول على بنيتنا التحتية، ويتضمن
  على سبيل المثال لا الحصر، هجمات الحرمان من الخدمة، أو "البريد المزعج" أو أي
  تقنية زائدة أخرى غير مطلوبة.
</p>
<p dir="RTL">
  <strong>5. كيف ستحل سماء النزاعات.</strong>
</p>
<p dir="RTL">
  5-1 المنازعات مع سماء
</p>
<p dir="RTL">
  في حال نشأ أي نزاع بينك وبين سماء، هدفنا هو تزويدك بوسائل محايدة وفعالة من
  حيث التكلفة لحل النزاع بسرعة. في حال أي نزاع، ندعوك الى الاتصال بـ سماء
  أولا على <a href="mailto:help@SAMACAPITAL.com">help@SAMACAPITAL.com</a>
  لمحاولة حل مشكلة مباشرة معنا
</p>
<p dir="RTL">
  <strong>5-2 التحكيم الالزامي </strong>
</p>
<p dir="RTL">
  هذه المادة تؤثر على حقوقك، يرجى القراءة بعناية قبل الموافقة على شروط الخدمة
  هذه باستخدام نفس الخدمة أو الموقع الالكتروني. باستثناء ما تنص عليه هذه
  الاتفاقية صراحة، أي نزاع أو مطالبة متعلقة بأي طريقة بزيارتك للموقع
  الالكتروني أو استخدامك لخدمات سماء أو أي منتج معروض أو مقدم من قبل أو من
  خلال الموقع الالكتروني أو الخدمة، أو تنشأ خلافا لذلك عن أو تتعلق بهذه
  الاتفاقية أو الخدمات لا يمكن حلها مباشرة بينك وبين سماء سوف يتم حلها بواسطة
  التحكيم الملزم القائم على عدم الحضور بدلا من المحكمة. باستثناء ما تنص عليه
  الاتفاقية خلافا لذلك، يتضمن ذلك اية مطالبات بموجب العقد أو المسئولية
  التقصيرية أو الاحتيال أو التضليل أو أي نظرية قانونية أخرى. يُطبق القانون
  الاماراتي على هذه الاتفاقية. لا يوجد قاض أو هيئة محلفين في التحكيم ومراجعة
  المحكمة لقرار التحكيم محدودة، لكن يمكن للمحكم الحكم للفرد بنفس التعويضات
  مثل المحكمة ويجب تطبيق واتباع شروط هذه الاتفاقية كما سوف تفعل المحكمة. تفهم
  أنه بغياب هذا الحكم، يحق لك رفع الدعاوي في المحكمة والحصول على هيئة محلفين.
</p>
<p dir="RTL">
  يتم مباشرة التحكيم بالهاتف أو الوسائل الالكترونية و/ أو يكون فقط بناء على
  تقديمات خطية، الطريقة التي يتم اختيار الطريقة الخاصة بها من قبل الطرف الذي
  بدأ التحكيم. لن يستلزم التحكيم الحضور الشخصي للأطراف أو الشهود ما لم يحدد
  المحكم أن المرافعة الشخصية ضرورية بناء على طلب أي من الأطراف وقرار التحكيم
  الصادر من المحكم يكون نهائي ويجوز قيده في أي محكمة مختصة. توافق أنت وسماء
  على أن أي إجراءات تسوية منازعات سوف يتم مباشرتها فقط على أساس فردي وليست
  دعوى جماعية أو اجراء الموحد أو التمثيلي. في حال لأي سبب بدأت المطالبة في
  المحكمة بدلا من التحكيم، سوف نتنازل عن أي حق في المحاكمة امام هيئة المحلفين
  ونوافق على البدء فقط على أساس فردي وليس في دعوى جماعية أو اجراء موحد أو
  تمثيلي. يعين الأطراف بموجب هذا المحكم ليكون له الصلاحية الحصرية للحكم على
  اية اعتراضات على المتطلبات من أجل استخدام عملية تسوية المنازعات البديلة في
  هذه الشروط.
</p>
<p dir="RTL">
  نوافق كلينا أيضا على أنه يجوز لك أو لنا رفع الدعاوي في المحكمة للحصول على
  اعانة قضائية مرحلية أو مبدئية ضرورية لحماية حقوقك وممتلكات أو حقوق وممتلكات
  سماء وكل شركائها وشركاتها التابعة ومساهميها وموظفيها ووكلائها من أي نوع
  (يُشار اليهم مجتمعين بـ "الشركات التابعة")
</p>
<p dir="RTL">
  باستثناء ما هو منصوص عليه صراحة في مكان آخر في هذه الاتفاقية، كل المطالبات
  التي تقدمها ضد سماء يجب تسويتها وفقا الى هذه المادة. أي مطالبة مرفوعة على
  عكس هذه المادة تعتبر مرفوعة بصورة غير مناسبة. في حال رفعت دعوى على عكس هذه
  المادة، يجوز لـ سماء استرداد منك اتعاب المحامي والتكاليف القانونية، شريطة
  قيام سماء أولا بإخطارك خطيا بأن الدعوى مرفوعة بصورة غير مناسبة وأنك أخفقت
  في سحب المطالبة بصورة مناسبة.
</p>
<p dir="RTL">
  <strong>5-3 القيود </strong>
</p>
<p dir="RTL">
  توافق أنت وسماء على أن أي تحكيم يقتصر على النزاع بين سماء وبينك فرديا. الى
  اقصى مدى يسمح به القانون، (1) لا يتم انضمام أي تحكيم الى تحكيم أخر، (2) لا
  يوجد حق أو سلطة للتحكيم في أي نزاع على أساس دعوى جماعية أو استخدام إجراءات
  الدعاوي الجماعية، و (3) لا يوجد حق أو سلطة من أجل رفع دعوى أي منازعة بأهلية
  تمثيلية بالنيابة عن الجمهور أو أي أشخاص أخرين.
</p>
<p dir="RTL">
  <strong>5-4 الاستثناءات على المفاوضات غير الرسمية والتحكيم </strong>
</p>
<p dir="RTL">
  توافق أنت وسماء على أن المنازعات التالية لا تخضع الى الأحكام أعلاه فيما
  يتعلق بالمفاوضات غير الرسمية والتحكيم الملزم: (1) أي نزاع يطلب تطبيق أو
  حماية أو يتعلق بصحة أي من حقوق الملكية الفكرية الخاصة بك أو الخاصة بـ سماء،
  و(2) أي مطالبة من أجل الاعانة القضائية.
</p>
<p dir="RTL">
  <strong>6. أحكام متنوعة </strong>
</p>
<p dir="RTL">
  <strong>6-1 عمليات التشغيل </strong>
</p>
<p dir="RTL">
  تشغل سماء وتتحكم في الخدمات من مكاتبها بدولة الامارات. لا تقدم سماء أي
  إقرار على أن الخدمات مناسبة أو متوفرة في مواقع أخرى. المعلومات المقدمة في
  الخدمات لا يعتزم توزيعها أو استخدامها من قبل أي شخص أو منشأة في أي اختصاص
  قضائي أو دولة حيث يكون هذا التوزيع أو الاستخدام مخالفا للقانون أو اللوائح
  أو يجعل سماء تخضع الى اية متطلبات تسجيل في ذلك الاختصاص القضائي أو تلك
  الدولة. وفقا لذلك، أولئك الأشخاص الذين يختارون الوصول الى الخدمات من مواقع
  اخرى يقومون بذلك من تلقاء أنفسهم وعلى مسئوليتهم المنفردة للالتزام بالقوانين
  المحلية المطبقة. البرنامج من الخدمات قد يخضع الى ضوابط التصدير بدولة
  الامارات. بتنزيل أي برنامج، تقر وتضمن أنك لا تقيم أو مواطن لأي دولة أخرى.
  الأطراف التي ترفض تحديدا تطبيق المعاهدة على العقود من أجل بيع البضائع
  الدولية. تسري شروط الخدمة هذه ما لم يتم انهائها من قبل أي طرف. يجوز لك
  انهاء هذه الشروط بإتلاف كل المواد المتعلقة بالخدمات التي حصلت عليها من
  الخدمة أو من سماء أو من أي موقع الكتروني أو مصدر أخر وتدفع كل المبالغ
  المستحقة عليك (وتتضمن أي رسوم أو مصروفات متكبدة أو مفروضة من قبل سماء)
  بالكامل. الامتيازات الممنوحة اليك بموجب شروط الخدمة هذه سوف تنتهي تلقائيا
  دون اشعار من سماء، في حال وفقا لتقديرنا المنفرد، أخفقت في الالتزام بأي شرط
  أو حكم في شروط الخدمة هذه. مسار السلوك بين الأطراف أو الممارسة التجارية لن
  تتصرف لتعديل شروط الخدمة هذه. لا يجوز لك التنازل عن شروط الخدمة هذه بدون
  موافقة خطية مسبقة من سماء، لكن يجوز لـ سماء التنازل عن شروط الخدمة هذه
  وحقوقها والتزاماتها بموجب هذه الاتفاقية الى أي طرف في أي وقت دون أي اخطار
  اليك. أي تنازل من قبل أي طرف عن أي اخلال بموجب هذه الاتفاقية لا يعتبر تنازل
  عن أي اخلال سابق أو لاحق. عناوين المواد المستخدمة في هذه الاتفاقية لغرض
  الملائمة فقط ولا تعطي أي أثر قانوني. بناء على طلب سماء، سوف تزود سماء بأية
  مستندات أو اثبات ضروري للتحقق من التزامك بشروط الخدمة هذه. توافق على أن
  شروط الخدمة هذه لن تُفسر ضد سماء بحكم صياغتها لها. تتنازل بموجب هذا عن كل
  وأي دفوع مكفولة لك بناء على الصيغة الالكترونية لشروط الخدمة هذه وعدم وجود
  توقيع من قبل أطراف هذه الاتفاقية لتحرير شروط الخدمة هذه.
</p>
<p dir="RTL">
  <strong>6-2 التطبيق والقانون الحاكم </strong>
</p>
<p dir="RTL">
  اخفاق سماء في ممارسة أو تطبيق أي حكم أو حكم في شروط الخدمة هذه لا يعتبر
  تنازل عن ذلك الحق أو الحكم. تشكل شروط الخدمة هذه الاتفاق الكلي بينك وبين
  سماء فيما يتعلق باستخدامك لخدمات سماء وتحل محل اي شروط خدمة سابقة قد تكون
  موجودة بينك وبين سماء. لا يمكن تغيير أو تعديل شروط الخدمة هذه من قبلك
  باستثناء كما هو منشور على الخدمات من قبل سماء. في حال أصبح أي حكم في هذه
  الاتفاقية غير واجب التطبيق، يتم استبداله بحكم واجب التطبيق يكون قريبا من
  نية وغرض الحكم غير واجب التطبيق وتبقى باقي الاحكام بكامل القوة والأثر. الى
  المدى الذي يكون فيه أي شيء في أو متعلق بالخدمات يتعارض مع هذه الاتفاقية،
  يكون لهذه الاتفاقية الاسبقية.
</p>
<p dir="RTL">
  <strong>6-3 الملكية الفكرية </strong>
</p>
<p dir="RTL">
  جميع المحتويات والتصميم والرسومات والتجميع والترجمة المغناطيسية والتحويل
  الرقمي والمسائل الأخرى المتعلقة بالخدمات محمية بموجب حقوق الطبع والنشر
  والعلامات التجارية وحقوق الملكية الأخرى السارية (وتتضمن دون حصر حقوق
  الملكية الفكرية) والتي تملكها سماء أو أي من شركاتها التابعة. ممنوع منعًا
  باتًا نسخ أي جزء من الخدمات أو إعادة توزيعه أو استخدامه أو نشره، ما لم
  يُسمح به صراحةً في هذه الاتفاقية. لا يمنحك استخدام الخدمات ملكية أي حقوق
  ملكية فكرية في أي محتوى أو مستندات أو مواد أخرى تصل اليها. نشر المعلومات أو
  المواد على الخدمات لا يعتبر تنازل عن أي حق في تلك المعلومات والمواد
</p>
<p dir="RTL">
  <strong>6-4 العلامة التجارية </strong>
</p>
<p dir="RTL">
  "سماء" هو اسم تسويقي لأنشطة الخدمات المالية المعينة لـ سماء كمشغل للخدمات.
</p>
<p dir="RTL">
  "سماء" هي اسم تجاري لـ سماء. قد تكون الكلمات أو الرموز المميزة الأخرى هي
  العلامات التجارية لمالكيها المعنيين.
</p>
<p dir="RTL">
  <strong>6-5 التعويض </strong>
</p>
<p dir="RTL">
  توافق على تعويض والدفاع عن ومسك الضرر عن سماء وشركاتها التابعة في مواجهة أي
  مديونية، بما في ذلك اتعاب المحاماة المعقولة أو المتعلقة باستخدامك للخدمات
  أو أي مخالفة لشروط الخدمة هذه
</p>
<p dir="RTL">
  <strong>6-6 التنازل عن الضمان </strong>
</p>
<p dir="RTL">
  لا تقدم سماء وشركاتها التابعة أي التزامات أو ضمانات حول (1) محتوى أو
  مصداقية أو توافر الخدمات أو من أجل أي اخلال بالأمان فيما يتعلق بنقل
  المعلومات الحساسة من خلال الخدمات، أو (2) دقة أو مصداقية أو اكتمال محتوى
  الموقع الالكتروني أو التطبيق أو الخدمات. ترفض سماء وشركاتها التابعة دون
  تقييد أي ضمان من أي نوع فيما يتعلق بالخدمات، بما في ذلك أي ضمان فيما يتعلق
  بعدم الانتهاك أو الرواج، أو الملاءمة لغرض معين. لا تتحمل سماء وشركاتها
  التابعة أي مسئولية عن أي تعطل للخدمة، ويتضمن دون حصر، اخفاق النظام أو أي
  تعطل أخر قد يؤثر على استلام أو معالجة أو قبول أو إتمام أو تسوية معاملات
  الدفع أو الخدمات
</p>
<p dir="RTL">
  <strong>6-7 تقييد المسئولية </strong>
</p>
<p dir="RTL">
  لا تتحمل سماء وشركاتها التابعة أي مسئولية أيا كانت عن استخدامك لأي منتج
  متوفر من أو من خلال الموقع الالكتروني أو استخدام الخدمات. على وجه التحديد،
  لكن ليس كتقييد لذلك، لا تتحمل سماء وشركاتها التابعة المسئولية عن أي أضرار
  مباشرة أو غير مباشرة أو خاصة أو مترتبة أو عارضة (وتتضمن التعويضات عن خسارة
  الاعمال أو الربح الفائت أو التقاضي أو ما شابه) سواء بناء على اخلال بالعقد
  أو بالضمان أو مسئولية تقصيرية أو مسئولية المنتج أو خلافه، ولا تتحمل سماء
  وشركاتها التابعة المسئولية عن مطالبات أي طرف ثالث من أي طبيعة، حتى في حال
  اخطارها باحتمالية تلك التعويضات أو المطالبات. لن يتم تقديم أي من الخدمات
  دون هذا التقييد. لا تنشئ أي مشورة أو معلومات، سواء شفوية أو خطية، تحصل
  عليها منا أو من خلال الموقع الالكتروني أو الخدمات، أي ضمان أو إقرار غير
  مذكور صراحة في هذه الاتفاقية. لا تتحمل سماء وشركاتها التابعة المسئولية عن
  أي اخفاق أو تأخير نتج عن أي ظرف يخرج عن نطاق التحكم المعقول لذلك الطرف.
</p>
<p dir="RTL">
  <strong>6-8 قانون التقادم </strong>
</p>
<p dir="RTL">
  توافق أنت وسماء انه بصرف النظر عن أي تشريع أو قانون يخالف ذلك، أي مطالبة أو
  سبب تداعي ينشأ عن أو يتعلق باستخدام الخدمات أو شروط الخدمة أو سياسة
  الخصوصية يجب رفعها في غضون سنة واحدة بعد نشوء تلك المطالبة أو سبب التداعي
  أو يتم منعها الى الأبد.
</p>
<p dir="RTL">
  <strong>6-9 لا مستفيدون طرف ثالث </strong>
</p>
<p dir="RTL">
  هذه الاتفاقية تكون بينك وبين سماء. لا يكون لأي مستخدم أي حقوق لإلزام سماء
  على تطبيق أي حقوق قد تكون له ضدك أو ضد أي مستخدم أخر.
</p>
</div>
</div>
</div>