<app-header></app-header>
<div class="row">
  <div class="col-lg-12 ">
    <div class="col-lg-1"></div>
    <div class="col-lg-10  header-progress-bar">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 header-progress-bar-box"></div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 ">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-center padding_0">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Upload Documents</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Personal Details</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Address Details</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Employer Details</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Bank Details</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Complete</div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<div class="container">
  <div class="col-lg-12">
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <!-- <alert></alert> -->

    <div class="col-lg-12">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 text-center">
        <img src="./assets/images/decline.png" width="150">

      </div>
      <div class="col-lg-4"></div>

    </div>
    <div class="col-lg-12">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-center">
        <h3>Your loan application has been declined</h3>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-center">
        <p>We are unable to take a favorable action on your loan request
          Please check your email for further details on your loan</p>

      </div>
    </div>
  </div>
</div>