<div class="row">
  <div class="scp-breadcrumb shadow-bottom">
    <ul class="breadcrumb ">
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a [routerLink]="['/home']"> Home</a>
      </li>
      <li>
        <a>Job Definition</a>
      </li>
      <li class="active">Map Document</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default shadow-all">
      <div class="panel-heading">Map Document</div>
      <div class="panel-body">
          <div class="alert alert-dismissible" *ngIf="result" [ngClass]="(result=='Already Exists')?'alert-danger':'alert-success'" style="text-align:center">{{result}}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
          <form class="from" [formGroup]='docmapform' (ngSubmit)='save()' novalidate>
          <div class="form-group">
            <label>Job <span class="error-astrix">*</span></label>
           <select class="form-control input-sm" formControlName="job">
             <option value="">Select Option</option>
             <option *ngFor="let jobtypes of jobtype" [value]="jobtypes.jobTypeCode">{{jobtypes.jobTypeName}}</option>

          </select>
           <div *ngIf=" (job.dirty || isSubmitted) && job.invalid" class=" error-msg">
              <div class="error-msg" *ngIf="job.errors.required">Select Job</div>
            </div>
          </div>
          <div class="form-group">
            <label>Document <span class="error-astrix">*</span></label>
            <!-- <select class="form-control input-sm" formControlName="doc"><option value="">Select Option</option></select> -->
            <ng-multiselect-dropdown 
            [formControlName]="'doc'"
            [placeholder]="'Select  Option'"
            [data]="document"
            [(ngModel)]="selectedItemsdoc"
            [settings]="dropdownSettings"
          
           
        >
        </ng-multiselect-dropdown>
            <div *ngIf=" (isSubmitted) && doc.invalid" class=" error-msg">
                <div class="error-msg" *ngIf="doc.errors.required">Select Document</div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <button class="btn btn-primary btn-block" type="submit" [disabled]="!docmapform.valid">
                Save <span *ngIf="loading"><i class="fa fa-spinner fa-spin fa-1x"></i></span></button>
            </div>
            <div class="col-lg-6">
              <button class="btn btn-primary btn-block" type="reset">
                Reset</button>
            </div>
          </div>
        </form>

      </div>


    </div>

  </div>
  <div class="col-lg-8">
    <div class="panel panel-default shadow-all filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Document</h3>
      
      </div>
      <div class="panel-body">
        <ag-grid-angular 
        style="width: 100%; height: 550px;" 
        class="ag-theme-balham"
        [enableSorting]="true"
        [enableColResize]="true"
        [floatingFilter]="true"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="14"
        (rowClicked)="onRowClicked($event)"
       
        >
      </ag-grid-angular>

    </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form" [formGroup]='editdDocMap' (ngSubmit)='updateJobDocMap()'>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title custom_align" id="Heading">Update Document Details</h4>
          <div class="alert alert-dismissible" *ngIf="editresult" [ngClass]="(editresult=='Already Exists')?'alert-danger':'alert-success'" style="text-align:center">{{editresult}}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Job Type Code <span class="error-astrix">*</span></label>
            <input class="form-control " type="text" formControlName="jobTypeCode" placeholder="Name" required readonly>
            <div *ngIf=" (jobTypeCode.dirty || jobTypeCode.pristine || isSubmitted) && jobTypeCode.invalid" class=" error-msg">
              <div class="error-msg" *ngIf="jobTypeCode.errors.required">Enter Job Type Code</div>
              <div class="error-msg" *ngIf="jobTypeCode.errors.minlength"> Code should be minimum {{jobTypeCode.errors.minlength.requiredLength}} character</div>
          </div>
          </div>
          <div class="form-group">
            <label>Job Type Name <span class="error-astrix">*</span></label>
            <input class="form-control " type="text" formControlName="jobTypeName" placeholder="Name" required readonly>
            <div *ngIf=" (jobTypeName.dirty || jobTypeName.pristine || isSubmitted) && jobTypeCode.invalid" class=" error-msg">
              <div class="error-msg" *ngIf="jobTypeName.errors.required">Enter Job Type Name</div>
              <div class="error-msg" *ngIf="jobTypeName.errors.minlength"> Name should be minimum {{jobTypeName.errors.minlength.requiredLength}} character</div>
          </div>
          </div>
          <div class="form-group">
            <label>Document <span class="error-astrix">*</span></label>
            <ng-multiselect-dropdown 
            [formControlName]="'documentCode'"
          
            [placeholder]="'Select Document'"
            [data]="documentedit"
            [(ngModel)]="selectedItemsdocedit"
            [settings]="dropdownSettingsedit"
          
        >
        </ng-multiselect-dropdown>
        <div *ngIf=" (documentCode.dirty || isSubmitted) && documentCode.invalid" class=" error-msg">
          <div class="error-msg" *ngIf="documentCode.errors.required">Select Document</div>
        </div>
          </div>

        </div>
        <div class="modal-footer ">
          <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;" [disabled]="!editdDocMap.valid">
            <span class="glyphicon glyphicon-ok-sign" ></span> Update </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>